<a href="https://colab.research.google.com/github/khanittha-phusopha/data_viz_2022/blob/main/Final_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# กลุ่ม Final
1.นางสาวเบญญาภา ระภูเขียว  623020527-6

2.นางสาว ขนิษฐา ภูโสภา  623021042-5

3.นายวิฆเนศ เกียรติเกษมสุข  623021055-6

จากโจทย์
ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx
( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR2TOFCt16PG2k9xeKIA7jnTEm63uTzd3nRacpzhJEp3d3-6QCtWz3tQskw )

#วิธีทำ
**เรียกใช้ฟังก์ชั่น**

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า
import matplotlib
from matplotlib import pyplot as plt

#นำเข้าไฟล์

In [2]:
from google.colab import drive 
drive.mount('/content/drive')  #เชื่อมข้อมูล เพราะเราจะทำการนำเข้าข้อมูล โดยให้ดึงมาจาก google drive ของเรา

Mounted at /content/drive

In [6]:
path = '/content/drive/My Drive/Final_2022'

##**ตารางที่ 1**

In [7]:
data1 = pd.read_csv(os.path.join(path,'alldb.csv'))
data1

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

##**ตรวจสอบขนาด**

In [8]:
data1.shape

(40035, 14)

เนื่องจากข้อมูลมีจำนวนมาก แต่เราไม่ได้ใช้ทั้งหมด เพื่อง่ายต่อการทำ prepocessing ดังนั้นจะตัดมาแค่ข้อมูลที่ต้องการใช้จริงๆ ตามโจทย์

### ตรวจสอบ NaN และ Missing

In [9]:
data1.isnull().any()  # ตรวจสอบหาค่า missing
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

Unnamed: 0      False
user             True
RowKey           True
care             True
date             True
ov               True
phone            True
site             True
time             True
urine            True
pid              True
PartitionKey     True
title            True
age              True
dtype: bool

จากผลเราจะพิจารณาจากการอ่านค่า True และ False ถ้า True คือ มีค่า missing ดังนั้น จะเห็นได้ว่าข้อมูลมีค่า missing เกือบในทุกคอลัมน์ ดังนั้น สามารถอนุมานได้เลยว่า ข้อมูลมีค่า missing จำนวนมาก จึงไม่เหมาะกับตัดข้อมูล หรือ .dropna
จึงพิจารณาให้ใช้วิธีแทนค่าเฉพาะคอลัมน์ข้อมูลที่เราต้องการใช้

# Data Preprocessing

In [10]:
data = data1[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']]
data

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [11]:
data_drop = data.dropna()
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,0,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0-1528,data is not completed,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,0,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0-1544,data is not completed,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
...,...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,2,Samsung SM-G998B,test,14:23:45,ขุ่น,x001,data is not completed,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,2,Samsung SM-G998B,test,14:23:43,ขุ่น,x001,data is not completed,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,3,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),xxx,data is not completed,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,2,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,yyy,data is not completed,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,2,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,zzz,data is not completed,data is not completed

In [12]:
data_drop = data_drop[(data_drop['PartitionKey'].astype(str).str.isdigit()) & (data_drop['PartitionKey'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ PartitionKey ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                            
data_drop.head()

(37772, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50

In [13]:
set(data_drop['PartitionKey'])

{'03354',
 '08937',
 '01620',
 '02062',
 '01276',
 '00850',
 '01072',
 '01742',
 '02330',
 '03345',
 '03542',
 '08925',
 '08970',
 '02524',
 '00967',
 '01594',
 '10990',
 '00201',
 '02917',
 '09031',
 '01061',
 '00571',
 '08910',
 '00164',
 '03129',
 '00692',
 '01576',
 '01084',
 '00011',
 '04127',
 '00799',
 '01010',
 '01912',
 '01280',
 '04665',
 '02727',
 '01339',
 '02163',
 '01848',
 '02189',
 '00439',
 '00476',
 '01057',
 '00621',
 '00443',
 '02726',
 '02767',
 '01904',
 '01677',
 '05110',
 '02340',
 '08951',
 '04607',
 '01340',
 '01211',
 '02912',
 '02195',
 '09043',
 '03142',
 '05196',
 '01113',
 '03509',
 '05093',
 '01205',
 '03099',
 '01326',
 '02892',
 '00754',
 '00313',
 '03563',
 '01410',
 '02949',
 '04193',
 '00695',
 '00978',
 '00064',
 '01617',
 '01320',
 '09020',
 '00300',
 '01444',
 '02944',
 '01824',
 '01663',
 '01666',
 '04028',
 '00144',
 '00332',
 '03980',
 '00789',
 '00937',
 '00102',
 '02051',
 '02910',
 '01895',
 '05130',
 '01679',
 '01042',
 '03027',
 '01332',
 '08947',
 '01093',
 '00159',
 '02035',
 '02537',
 '03055',
 '01175',
 '05127',
 '01379',
 '00111',
 '02781',
 '02807',
 '00200',
 '02960',
 '05013',
 '05263',
 '08902',
 '04646',
 '01857',
 '02454',
 '00831',
 '01259',
 '00296',
 '00735',
 '02075',
 '00130',
 '01423',
 '06723',
 '00458',
 '01925',
 '06182',
 '00314',
 '01837',
 '02224',
 '02387',
 '02435',
 '00219',
 '02846',
 '01893',
 '01694',
 '03006',
 '00835',
 '00359',
 '00066',
 '03321',
 '00039',
 '03998',
 '01761',
 '05235',
 '01757',
 '01005',
 '01948',
 '00424',
 '02701',
 '01068',
 '01546',
 '00920',
 '02052',
 '02100',
 '10982',
 '00780',
 '01421',
 '01763',
 '08971',
 '04652',
 '01625',
 '00081',
 '00456',
 '03238',
 '05155',
 '00170',
 '00213',
 '00980',
 '02199',
 '02929',
 '06046',
 '01771',
 '00746',
 '01034',
 '04117',
 '03362',
 '02632',
 '00942',
 '00983',
 '02350',
 '02258',
 '00625',
 '00172',
 '01985',
 '00607',
 '01373',
 '00726',
 '01184',
 '01772',
 '02813',
 '04657',
 '08917',
 '00250',
 '01686',
 '02994',
 '10973',
 '01380',
 '01496',
 '01991',
 '00811',
 '03445',
 '01647',
 '01915',
 '00896',
 '01248',
 '00401',
 '02484',
 '04813',
 '05100',
 '01081',
 '01203',
 '00657',
 '01887',
 '01734',
 '03725',
 '00515',
 '01364',
 '01514',
 '02013',
 '00339',
 '01006',
 '03003',
 '00321',
 '03273',
 '02000',
 '01675',
 '01750',
 '03048',
 '01139',
 '03394',
 '00575',
 '03093',
 '06037',
 '02269',
 '05141',
 '02995',
 '02782',
 '02597',
 '01233',
 '01032',
 '02349',
 '10967',
 '00485',
 '00261',
 '05118',
 '01024',
 '01460',
 '01411',
 '00891',
 '00317',
 '01736',
 '04661',
 '00514',
 '01124',
 '01598',
 '00019',
 '00716',
 '08957',
 '02489',
 '03016',
 '00939',
 '01747',
 '02755',
 '02821',
 '01655',
 '01396',
 '00952',
 '03487',
 '01850',
 '05096',
 '01508',
 '04717',
 '00684',
 '01956',
 '00779',
 '08935',
 '01477',
 '00018',
 '02504',
 '01490',
 '00292',
 '00487',
 '04052',
 '01978',
 '01882',
 '10965',
 '01871',
 '02107',
 '05785',
 '01959',
 '03548',
 '08974',
 '00959',
 '00034',
 '00847',
 '02006',
 '08945',
 '00472',
 '02070',
 '03240',
 '09042',
 '05341',
 '04684',
 '00836',
 '03227',
 '00347',
 '02538',
 '00032',
 '01817',
 '00762',
 '00495',
 '01425',
 '02926',
 '00161',
 '00564',
 '04812',
 '01374',
 '08955',
 '02638',
 '01035',
 '01974',
 '05108',
 '08939',
 '02094',
 '01223',
 '02620',
 '01149',
 '02936',
 '00879',
 '02976',
 '00078',
 '01919',
 '00095',
 '01153',
 '01152',
 '09027',
 '00768',
 '02384',
 '02516',
 '03064',
 '08984',
 '01787',
 '01870',
 '00882',
 '00386',
 '01723',
 '01658',
 '02135',
 '02305',
 '02125',
 '02654',
 '03521',
 '01682',
 '04753',
 '05195',
 '01173',
 '00471',
 '01789',
 '04685',
 '00737',
 '01222',
 '01476',
 '00567',
 '01112',
 '06012',
 '08985',
 '01412',
 '00907',
 '00194',
 '02027',
 '02332',
 '00774',
 '00093',
 '05986',
 '02938',
 '10998',
 '01735',
 '01043',
 '00054',
 '02034',
 '00656',
 '00870',
 '01858',
 '00243',
 '00522',
 '02869',
 '00866',
 '02849',
 '03461',
 '04046',
 '03137',
 '02249',
 '00244',
 '05117',
 '02962',
 '04033',
 '00215',
 '03121',
 '01246',
 '00606',
 '00523',
 '00536',
 '01279',
 '04180',
 '00929',
 '00059',
 '01263',
 '02327',
 '03488',
 '01011',
 '01873',
 '05982',
 '00613',
 '02965',
 '01633',
 '00610',
 '02888',
 '03389',
 '02865',
 '02793',
 '01309',
 '00284',
 '04054',
 '01252',
 '01739',
 '02265',
 '01283',
 '01188',
 '00091',
 '00601',
 '03136',
 '01569',
 '03376',
 '00720',
 '01724',
 '04621',
 '00442',
 '06011',
 '00044',
 '00445',
 '08986',
 '00829',
 '00199',
 '00206',
 '10985',
 '01704',
 '00294',
 '08936',
 '01088',
 '00288',
 '02041',
 '02557',
 '00167',
 '02422',
 '02149',
 '01846',
 '00398',
 '02431',
 '02756',
 '01714',
 '01823',
 '00593',
 '00223',
 '02383',
 '01940',
 '00605',
 '03503',
 '04738',
 '01137',
 '00214',
 '01343',
 '02319',
 '05098',
 '00101',
 '02631',
 '02666',
 '10983',
 '02918',
 '00883',
 '01961',
 '00217',
 '01640',
 '09033',
 '00709',
 '01172',
 '02677',
 '09003',
 '03151',
 '02886',
 '02776',
 '01801',
 '01928',
 '03545',
 '01062',
 '01924',
 '00748',
 '08975',
 '02652',
 '01323',
 '04777',
 '01884',
 '04697',
 '00694',
 '00590',
 '02237',
 '00518',
 '01151',
 '00560',
 '02550',
 '02839',
 '03436',
 '11005',
 '00620',
 '02021',
 '02313',
 '01507',
 '01251',
 '00183',
 '01905',
 '02240',
 '04137',
 '03934',
 '05988',
 '00128',
 '00924',
 '03438',
 '01366',
 '01345',
 '01654',
 '06007',
 '02611',
 '00120',
 '00545',
 '01134',
 '02040',
 '00205',
 '01939',
 '01530',
 '04672',
 '00041',
 '02012',
 '00251',
 '01217',
 '01520',
 '01881',
 '01966',
 '05232',
 '00912',
 '01352',
 '01718',
 '03512',
 '01697',
 '00501',
 '08929',
 '00718',
 '01563',
 '00736',
 '00493',
 '00422',
 '00549',
 '03156',
 '00230',
 '00685',
 '00808',
 '02579',
 '00360',
 '02907',
 '02132',
 '02871',
 '02215',
 '00619',
 '04061',
 '00511',
 '03324',
 '01346',
 '03007',
 '03391',
 '08912',
 '00930',
 '01013',
 '01089',
 '00955',
 '01907',
 '10977',
 '02399',
 '00881',
 '02818',
 '02593',
 '00322',
 '03221',
 '05339',
 '02295',
 '01417',
 '01596',
 '00742',
 '00325',
 '01497',
 '00859',
 '02069',
 '02166',
 '01901',
 '01843',
 '02861',
 '06720',
 '01027',
 '02154',
 '02845',
 '03039',
 '01780',
 '02205',
 '01317',
 '05119',
 '03361',
 '00802',
 '00587',
 '01501',
 '08934',
 '00178',
 '03333',
 '03052',
 '06027',
 '05966',
 '02674',
 '02103',
 '01537',
 '00817',
 '04695',
 '02769',
 '00285',
 '01952',
 '02739',
 '11002',
 '02669',
 '00301',
 '01719',
 '01885',
 '04696',
 '01435',
 '03088',
 '04012',
 '03964',
 '01685',
 '00537',
 '01479',
 '01861',
 '00231',
 '02063',
 '02039',
 '01639',
 '00895',
 '02672',
 '00400',
 '03254',
 '04671',
 '01370',
 '02004',
 '00113',
 '00816',
 '00598',
 '00956',
 '09016',
 '00080',
 '02096',
 '01041',
 '04641',
 '01449',
 '03417',
 '05717',
 '04074',
 '01454',
 '04802',
 '08915',
 '01275',
 '01662',
 '01054',
 '03464',
 '02017',
 '02988',
 '00397',
 '01631',
 '01897',
 '01445',
 '00899',
 '02095',
 '00611',
 '00573',
 '02857',
 '01319',
 '01287',
 '03230',
 '01500',
 '02396',
 '03215',
 '00319',
 '01570',
 '00258',
 '11006',
 '05719',
 '00719',
 '00966',
 '00508',
 '00052',
 '00784',
 '01030',
 '04182',
 '00176',
 '02158',
 '01535',
 '01483',
 '02001',
 '02930',
 '00240',
 '01818',
 '03351',
 '02578',
 '01687',
 '08949',
 '00569',
 '01157',
 '01803',
 '02165',
 '06015',
 '06044',
 '03107',
 '09001',
 '03708',
 '03422',
 '03494',
 '05202',
 '00730',
 '08962',
 '01920',
 '02794',
 '00777',
 '01051',
 '05123',
 '00016',
 '03078',
 '00108',
 '05189',
 '03319',
 '00112',
 '00889',
 '01392',
 '05112',
 '01947',
 '00893',
 '06014',
 '00264',
 '01401',
 '01709',
 '02702',
 '02496',
 '00704',
 '01958',
 '00632',
 '01612',
 '08921',
 '02084',
 '01397',
 '06725',
 '00030',
 '01863',
 '06040',
 '05115',
 '01344',
 '00465',
 '02282',
 '02600',
 '02770',
 '00103',
 '08943',
 '08941',
 '08979',
 '03970',
 '00919',
 '02586',
 '05727',
 '00618',
 '01630',
 '00287',
 '01579',
 '01207',
 '01806',
 '02728',
 '03105',
 '03434',
 '00433',
 '00490',
 '01673',
 '03177',
 '00097',
 '05995',
 '02420',
 '02928',
 '01232',
 '03248',
 '05806',
 '02207',
 '04688',
 '02973',
 '00308',
 '01132',
 '02823',
 '00191',
 '00354',
 '02197',
 '01480',
 '02860',
 '02170',
 '01165',
 '05999',
 '08988',
 '04072',
 '00999',
 '03030',
 '03165',
 '00450',
 '03014',
 '02795',
 '04660',
 '05133',
 '02178',
 '04618',
 '02271',
 '00023',
 '01829',
 '05310',
 '00416',
 '01130',
 '04631',
 '01448',
 '05107',
 '00248',
 '01641',
 '03002',
 '00028',
 '00067',
 '01107',
 '05248',
 '00198',
 '00845',
 '01558',
 '02172',
 '00241',
 '01689',
 '02055',
 '02523',
 '02596',
 '03278',
 '04627',
 '06009',
 '01226',
 '00276',
 '01126',
 '01962',
 '01333',
 '02455',
 '00107',
 '01776',
 '03199',
 '00237',
 '02424',
 '01456',
 '00440',
 '00997',
 '01891',
 '00073',
 '08913',
 '00473',
 '00004',
 '01164',
 '01982',
 '05770',
 '00388',
 '01406',
 '01268',
 '01888',
 '00543',
 '01198',
 '01650',
 '01715',
 '01572',
 '10961',
 '03420',
 '08922',
 '04001',
 '00129',
 '00900',
 '03400',
 '04811',
 '01877',
 '09006',
 '05228',
 '01169',
 '03113',
 '02555',
 '08961',
 '02139',
 '06021',
 '02407',
 '01613',
 '00821',
 '00902',
 '01338',
 '01434',
 '01992',
 '02218',
 '02972',
 '01253',
 '05147',
 '03441',
 '00340',
 '00089',
 '00463',
 '02874',
 '01466',
 '01798',
 '05172',
 '01481',
 '00803',
 '02824',
 '01337',
 '00356',
 '00667',
 '01026',
 '00697',
 '01350',
 '08503',
 '00042',
 '04075',
 '01327',
 '02709',
 '02480',
 '03504',
 '05984',
 '08992',
 '05245',
 '02671',
 '02297',
 '00649',
 '01312',
 '02526',
 '02945',
 '03068',
 '01082',
 '00953',
 '03152',
 '01752',
 '03261',
 '05958',
 '00390',
 '09030',
 '00076',
 '01864',
 '01712',
 '02494',
 '01510',
 '06034',
 '01908',
 '01105',
 '02244',
 '00349',
 '00661',
 '01369',
 '00496',
 '04191',
 '00297',
 '03408',
 '05266',
 '00534',
 '02452',
 '00833',
 '06730',
 '01220',
 '00225',
 '03330',
 '01289',
 '01744',
 '01097',
 '01143',
 '00826',
 '03035',
 '04013',
 '00797',
 '01549',
 '00985',
 '04788',
 '00492',
 '00147',
 '01265',
 '01589',
 '00696',
 '04171',
 '03239',
 ...}

In [14]:
data_drop = data_drop[(data_drop['site'].astype(str).str.isdigit()) & (data_drop['site'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ site ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                            
data_drop.head()

(37764, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50

In [15]:
set(data_drop['site'])

{'00027',
 '00040',
 '00513',
 '00579',
 '00580',
 '02759',
 '03432',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05079',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05255',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11748',
 '11749',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '24650',
 '27988',
 '27990',
 '28017',
 '99795'}

## เปลี่ยน type ข้อมูลเป็น String

In [16]:
import numpy as np

### เปลี่ยน user, site, ov, PartitionKey, age เป็นตัวเลขเท่านั้น (int)

โดยการตั้งค่า  error='coerce' จะแปลงค่าที่ไม่ใช่ตัวเลขเป็น  NaN

In [17]:
data_drop['user'] = pd.to_numeric(data_drop['user'], errors='coerce')
data_drop['ov'] = pd.to_numeric(data_drop['ov'], errors='coerce')
data_drop['age'] = pd.to_numeric(data_drop['age'], errors='coerce');

In [18]:
data_drop.dtypes

user            float64
RowKey           object
date             object
ov              float64
phone            object
site             object
time             object
urine            object
PartitionKey     object
title            object
age               int64
dtype: object

ตอนนี้จะสังเกตเห็น ค่า NaNโดยที่ประเภทข้อมูลเป็น float

สามารถทำโดยแทนที่ค่า 'NaN' ด้วยค่า '0' โดยใช้ df.replace:

In [19]:
data_drop = data_drop.replace(np.nan, 0, regex=True)
data_drop['user'] = data_drop['user'].astype(int)
data_drop['ov'] = data_drop['ov'].astype(int)
data_drop['age'] = data_drop['age'].astype(int)

In [20]:
data_drop.dtypes

user             int64
RowKey          object
date            object
ov               int64
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age              int64
dtype: object

>เปลี่ยน Rowkey phone เเละ urine เป็น String

### เปลี่ยน RowKey, phone, urine, title เป็น String

In [21]:
data_drop.astype({'RowKey':'string', 'phone':'string','urine':'string','title':'string'}).dtypes

user             int64
RowKey          string
date            object
ov               int64
phone           string
site            object
time            object
urine           string
PartitionKey    object
title           string
age              int64
dtype: object

In [22]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36
39478,0,wwpnkeptlc.png,2022-02-26,0,Samsung SM-G998B,13777,01:26:34,สีน้ำนม,12285,นางสาว,22

> กำหนด ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [23]:
set(data_drop['ov'])

{0, 1, 2, 3, 4}

จะเห็นว่า ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ) อยู่แล้ว ดังนั้นไม่ต้องแก้ไขอะไร

>กำหนดรูปแบบของ time เป็น hh-mm-ss

In [24]:
data_drop['time'] = data_drop['time'].replace(':','-',regex=True)

In [25]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36
39478,0,wwpnkeptlc.png,2022-02-26,0,Samsung SM-G998B,13777,01-26-34,สีน้ำนม,12285,นางสาว,22

In [26]:
TF=list()
for each_row in data_drop.iterrows():
    if (10000 < each_row[1]['user'] < 60000):  #each_row คือ ตัวเลข
        TF.append(True)
    else:
        TF.append(False)

data2= data_drop[TF]

In [27]:
data2

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,นางสาว,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,นาง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

> เปลี่ยนคอลัมน์ title เป็นเพศ

In [28]:
set(data2['title'])   # ดู set ของข้อมูล

{'  นาง',
 ' นาง',
 'Mrs',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ว่าที่ร้อยตรี',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [29]:
data2['title'].replace({'  นาง':'หญิง',
                    ' นาง':'หญิง',
                    ' นางสาว':'หญิง',
                    ' นาย':'ชาย',
                    'Mrs':'หญิง',
                    'ชาย':'ชาย',
                    'ด.ช.':'ชาย',
                    'ด.ญ.':'หญิง',
                    'ด.ต.':'ไม่ระบุ',
                    'น':'ไม่ระบุ',
                    'น.ส':'หญิง',
                    'น.ส ':'หญิง',
                    'น.ส.':'หญิง',
                    'นส':'หญิง',
                    'นส.':'หญิง',
                    'นส. ':'หญิง',
                    'นาง':'หญิง',
                    'นาง ':'หญิง',
                    'นาง.':'หญิง',
                    'นางl':'หญิง',
                    'นางสาว':'หญิง',
                    'นางสาว ':'หญิง',
                    'นางสาว                   ':'หญิง',
                    'นาน':'ชาย',
                    'นาบ':'ชาย',
                    'นาย':'ชาย',
                    'นาย ':'ชาย',
                    'นาย  ':'ชาย',
                    'นาว':'หญิง',
                    'นาวสาว':'หญิง',
                    'นา่ง':'หญิง',
                    'น่าย':'ชาย',
                    'พจอ.':'ไม่ระบุ',
                    'พระ':'ชาย',
                    'พระครุ':'ไม่ระบุ',
                    'พระปลัด':'ไม่ระบุ',
                    'พลฯ':'ไม่ระบุ',
                    'ร.ต.':'ไม่ระบุ',
                    'ร.ต.ต.':'ไม่ระบุ',
                    'ร.ต.ท.':'ไม่ระบุ',
                    'ร.ต.อ.':'ไม่ระบุ',
                    'รต.':'ไม่ระบุ',
                    'ว่าที่ ร.ต.':'ไม่ระบุ',
                    'ว่าที่ ร.ท.':'ไม่ระบุ',
                    'ว่าที่ร้อยตรี':'ไม่ระบุ',
                    0:'ไม่ระบุ',
                    'data is not completed':'ไม่ระบุ',
                    'okp':'ไม่ระบุ',
                    'ส.อ.':'ไม่ระบุ',
                    'ืนาง':'หญิง',
                    'เด็กชาย':'ชาย',
                    'เด็กหญิง':'หญิง'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [30]:
set(data2['title'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [31]:
data_re = data2.rename(columns={'title':'sex'}) 
data_re.head(5)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50

In [32]:
data_re.shape

(17967, 11)

In [33]:
data_01 = data_re

In [34]:
data_01

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,หญิง,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,ชาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,หญิง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,หญิง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,ชาย,36

In [35]:
data_ho = pd.read_excel(os.path.join(path,'hospital_list.xlsx'))
data_ho

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [36]:
data_ho = data_ho[['hcode','name','zone_name','province','amphur','tambon','name5','short_english']]      # เลือกเฉพาะคอลัมน์ที่ต้องการ
print(data_ho.shape)
data_ho.head()

(17103, 8)

,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด,ATG

In [37]:
data_ho.isnull().sum()

hcode              0
name               1
zone_name          4
province           0
amphur             2
tambon           209
name5              3
short_english      6
dtype: int64

In [38]:
data_ho['name'] = data_ho['name'].fillna('ไม่ระบุ') 
data_ho['zone_name'] = data_ho['zone_name'].fillna('ไม่ระบุ') 
data_ho['amphur'] = data_ho['amphur'].fillna('ไม่ระบุ') 
data_ho['tambon'] = data_ho['tambon'].fillna('ไม่ระบุ') 
data_ho['name5'] = data_ho['name5'].fillna('ไม่ระบุ') 
data_ho['short_english'] = data_ho['short_english'].fillna('ไม่ระบุ');

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
data_ho.isnull().sum()

hcode            0
name             0
zone_name        0
province         0
amphur           0
tambon           0
name5            0
short_english    0
dtype: int64

In [40]:
data_use = data_01.merge(data_ho,how='left',left_on='site',right_on='hcode')     # เชื่อมตาราง
data_use.head(10)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
1,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
2,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ทองแสนขัน,น้ำพี้,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
3,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57,06288,โรงพยาบาลส่งเสริมสุขภาพตำบลนางพญา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ท่าปลา,นางพญา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
4,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50,06261,สถานีอนามัยเฉลิมพระเกียรติ 60 พรรษา นวมินทราชินี,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,งิ้วงาม,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
5,19911,22E333B1-A8D4-4FCB-8304-7BD2C3D9C94A,2022-03-30,0,"iPhone12,5",06319,09-32-46,ปกติ (เหลืองใส),00001,ชาย,51,06319,โรงพยาบาลส่งเสริมสุขภาพตำบลนายาง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,นายาง,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
6,59476,2AAA9DE2-24E6-4F41-B02E-0CB610C906C6,2022-03-25,4,"iPhone9,4",05000,11-14-25,สีฟ้า หรือน้ำเงิน,00001,หญิง,47,05000,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองขาม,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,บรบือ,ดอนงัว,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
7,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,2,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),00001,หญิง,53,11158,โรงพยาบาลตรอน,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ตรอน,บ้านแก่ง,โรงพยาบาลชุมชน,UTT
8,14360,41AE352F-77A0-4D26-B39C-6A09B39576BA,2022-03-31,0,"iPhone8,2",04405,14-11-05,ปกติ (เหลืองใส),00001,หญิง,25,04405,โรงพยาบาลส่งเสริมสุขภาพตำบลหันโจด,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,หนองสองห้อง,หันโจด,โรงพยาบาลส่งเสริมสุขภาพตำบล,KKN
9,24986,44E5D0C4-9195-47FC-82C3-CF9A711D85AB,2022-03-28,1,"iPhone14,3",06278,11-49-13,ปกติ (เหลืองใส),00001,ชาย,76,06278,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านคีรีทอง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ท่าปลา,หาดล้า,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT

In [41]:
data_use.isnull().sum()

user             0
RowKey           0
date             0
ov               0
phone            0
site             0
time             0
urine            0
PartitionKey     0
sex              0
age              0
hcode            0
name             0
zone_name        0
province         0
amphur           0
tambon           0
name5            0
short_english    0
dtype: int64

In [42]:
data_use.to_csv(os.path.join(path,'data_use.csv')) # save เข้า drive เพื่อนำไปทำ dashboard