<a href="https://colab.research.google.com/github/khanittha-phusopha/data_viz_2022/blob/main/Final_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# กลุ่ม Final 
##ชื่อกลุ่ม laughing-hyena

1.นางสาวเบญญาภา ระภูเขียว  623020527-6

2.นางสาว ขนิษฐา ภูโสภา  623021042-5

3.นายวิฆเนศ เกียรติเกษมสุข  623021055-6

# โจทย์
ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx
( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1Y4VFrccMQTNuZCV3Gh7T2Wrb360ClW0M?usp=sharing )
โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้

 * user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
 * RowKey เป็น String
 * date เป็น YYYY-MM-DD
 * phone เป็น String
 * site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
 * time เป็น hh-mm-ss
 * urine มีค่า String
 * ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
 * PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx
โดยข้อมูลสำคัญที่ต้องแสดงคือ
 * จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
 * ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone
 * (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)
ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

#วิธีทำ
**เรียกใช้ฟังก์ชั่น**

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า
import matplotlib
from matplotlib import pyplot as plt

#นำเข้าไฟล์

In [2]:
from google.colab import drive 
drive.mount('/content/drive')  #เชื่อมข้อมูล เพราะเราจะทำการนำเข้าข้อมูล โดยให้ดึงมาจาก google drive ของเรา
path = '/content/drive/My Drive/Final_2022'

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/Final_2022'

##ตารางที่ 1

In [4]:
data1 = pd.read_csv(os.path.join(path,'alldb.csv')) #เรียกไฟล์ alldb.csv
data1 #แสดงตาราง alldb.csv

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [5]:
data1.shape #ตรวจสอบขนาด

(40035, 14)

เนื่องจากข้อมูลมีจำนวนมาก แต่เราไม่ได้ใช้ทั้งหมด เพื่อง่ายต่อการทำ prepocessing ดังนั้นจะตัดมาแค่ข้อมูลที่ต้องการใช้จริงๆ ตามโจทย์

### ตรวจสอบ NaN และ Missing

In [6]:
data1.isnull().any()  # ตรวจสอบหาค่า missing
#.isnull() เพื่อระบุว่ามีค่า Null หรือไม่

Unnamed: 0      False
user             True
RowKey           True
care             True
date             True
ov               True
phone            True
site             True
time             True
urine            True
pid              True
PartitionKey     True
title            True
age              True
dtype: bool

จากผลเราจะพิจารณาจากการอ่านค่า True และ False ถ้า True คือ มีค่า missing ดังนั้น จะเห็นได้ว่าข้อมูลมีค่า missing เกือบในทุกคอลัมน์ ดังนั้น สามารถอนุมานได้เลยว่า ข้อมูลมีค่า missing จำนวนมาก จึงไม่เหมาะกับตัดข้อมูล หรือ .dropna
จึงพิจารณาให้ใช้วิธีแทนค่าเฉพาะคอลัมน์ข้อมูลที่เราต้องการใช้

# Data Preprocessing

In [7]:
data = data1[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']] #เลือกเฉพาะคอลัมน์ที่ต้องการ
data

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [8]:
A=list() 
for each_row in data.iterrows(): # loop each_row ใน data
    if len(str(each_row[1]['user']))== 5 : #เลือกตัวอักษรที่เท่ากับ 5
        if str(each_row[1]['user']) <= '99999' : #ถ้า user  น้อยกว่า 100000
            A.append(True) #ให้เพิ่มเข้าไปใน A
        elif str(each_row[1]['user']) >= '99999' : #ถ้า user มากกว่า 100000
            A.append(False) #ไม่ให้เพิ่มเข้าไปใน A
    else:
        A.append(False) #ถ้าไม่ใช่ทั้งหมด ไม่ให้เพิ่มเข้าไปใน A

data_test = data[A] # ใส่ตัวแปร
data_test# เรียกดูตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [9]:
set(data_test['user'])  # ดู set ข้อมูลของ user

{'83733',
 '00299',
 '10120',
 '00302',
 '00161',
 '00565',
 '45641',
 '55239',
 '98290',
 '52665',
 '19737',
 '18393',
 '01636',
 '00176',
 '59269',
 '31551',
 '22542',
 '85989',
 '43228',
 '49901',
 '94135',
 '20291',
 '18873',
 '38727',
 '71872',
 '32581',
 '15980',
 '00287',
 '00079',
 '49387',
 '38547',
 '32999',
 '10487',
 '02878',
 '31982',
 '00221',
 '00217',
 '77572',
 '12023',
 '39537',
 '91402',
 '05358',
 '00285',
 '55430',
 '11282',
 '06271',
 '00288',
 '65075',
 '79590',
 '73000',
 '24994',
 '08998',
 '42173',
 '02102',
 '90343',
 '09582',
 '35942',
 '00174',
 '02263',
 '70940',
 '22688',
 '52180',
 '01431',
 '67352',
 '51403',
 '09820',
 '23058',
 '34705',
 '00012',
 '43143',
 '72988',
 '04405',
 '18769',
 '96670',
 '00409',
 '03217',
 '00004',
 '18181',
 '04347',
 '00164',
 '25083',
 '12839',
 '37607',
 '55299',
 '00270',
 '33103',
 '00351',
 '87771',
 '19130',
 '60181',
 '77358',
 '00902',
 '00003',
 '48255',
 '16904',
 '31143',
 '25837',
 '29094',
 '37231',
 '25466',
 '97013',
 '00036',
 '58668',
 '59721',
 '70187',
 '00298',
 '00265',
 '76642',
 '57954',
 '19903',
 '27529',
 '23885',
 '00141',
 '77743',
 '00014',
 '90604',
 '02889',
 '01461',
 '08741',
 '39079',
 '52921',
 '00306',
 '12561',
 '46970',
 '96292',
 '62459',
 '00069',
 '37186',
 '49103',
 '00131',
 '05974',
 '23675',
 '45924',
 '68768',
 '93307',
 '88708',
 '01861',
 '84494',
 '46897',
 '39959',
 '00192',
 '80847',
 '53041',
 '31811',
 '00031',
 '50756',
 '86271',
 '32468',
 '31582',
 '79493',
 '26841',
 '07331',
 '12605',
 '89081',
 '76246',
 '50951',
 '54679',
 '14988',
 '98156',
 '26442',
 '86133',
 '97016',
 '00215',
 '53579',
 '94881',
 '94988',
 '45825',
 '95927',
 '03359',
 '44812',
 '49308',
 '92691',
 '00185',
 '90571',
 '05019',
 '83662',
 '75061',
 '41182',
 '65254',
 '66501',
 '73419',
 '88337',
 '05228',
 '33503',
 '21831',
 '61265',
 '11742',
 '47844',
 '21751',
 '01882',
 '31869',
 '66437',
 '59476',
 '74964',
 '32891',
 '73772',
 '55692',
 '50471',
 '89056',
 '00328',
 '54427',
 '35512',
 '48393',
 '46481',
 '43834',
 '84495',
 '26462',
 '70671',
 '59181',
 '11891',
 '63485',
 '88135',
 '05663',
 '59305',
 '10264',
 '01942',
 '06385',
 '63564',
 '66780',
 '77811',
 '16675',
 '13361',
 '48298',
 '06260',
 '07427',
 '80374',
 '88377',
 '00001',
 '47858',
 '04281',
 '00345',
 '33121',
 '84935',
 '00088',
 '16174',
 '51501',
 '28241',
 '07166',
 '74493',
 '17966',
 '84392',
 '76475',
 '84459',
 '70957',
 '48493',
 '32816',
 '05069',
 '55365',
 '96061',
 '77665',
 '80511',
 '45593',
 '19699',
 '10534',
 '83303',
 '28010',
 '69428',
 '98530',
 '21688',
 '94601',
 '71970',
 '81537',
 '46732',
 '63274',
 '44201',
 '20690',
 '02579',
 '14387',
 '29391',
 '51653',
 '85753',
 '82054',
 '11007',
 '00017',
 '51903',
 '42468',
 '00276',
 '66708',
 '00341',
 '11727',
 '84409',
 '77862',
 '83943',
 '69789',
 '00211',
 '20304',
 '86407',
 '28992',
 '84063',
 '62616',
 '63284',
 '27096',
 '19591',
 '32796',
 '42055',
 '51310',
 '97255',
 '89329',
 '52902',
 '87181',
 '63429',
 '25593',
 '00124',
 '28743',
 '98551',
 '49367',
 '34585',
 '50047',
 '36385',
 '65388',
 '45881',
 '43868',
 '50624',
 '25221',
 '21378',
 '97965',
 '08072',
 '40553',
 '67615',
 '77567',
 '50911',
 '31086',
 '25721',
 '96417',
 '49634',
 '64211',
 '18737',
 '45047',
 '00343',
 '73876',
 '92241',
 '08011',
 '58500',
 '28593',
 '34711',
 '86601',
 '34331',
 '12378',
 '92415',
 '74394',
 '31401',
 '18865',
 '47615',
 '15971',
 '45914',
 '49268',
 '68317',
 '63381',
 '00208',
 '29907',
 '70409',
 '76819',
 '92747',
 '04325',
 '00134',
 '95821',
 '56764',
 '29502',
 '16372',
 '71327',
 '03558',
 '55354',
 '63910',
 '09259',
 '59226',
 '00251',
 '00305',
 '08734',
 '00283',
 '25199',
 '09529',
 '23214',
 '18513',
 '64612',
 '49782',
 '00290',
 '01467',
 '03949',
 '17055',
 '00046',
 '59423',
 '73233',
 '91645',
 '32948',
 '85879',
 '00189',
 '00204',
 '40059',
 '81529',
 '89837',
 '00122',
 '78334',
 '18892',
 '98488',
 '00756',
 '20847',
 '14491',
 '01428',
 '23811',
 '40881',
 '12413',
 '70492',
 '76088',
 '14037',
 '28402',
 '82277',
 '05961',
 '74840',
 '32873',
 '54192',
 '00109',
 '24612',
 '93509',
 '00144',
 '33664',
 '19575',
 '83725',
 '08602',
 '87067',
 '96771',
 '74861',
 '30121',
 '31229',
 '70973',
 '45563',
 '47950',
 '97770',
 '65733',
 '97057',
 '04402',
 '06277',
 '27143',
 '42228',
 '22680',
 '88315',
 '00307',
 '63471',
 '22421',
 '62491',
 '48962',
 '73946',
 '86050',
 '19675',
 '29485',
 '89195',
 '96630',
 '85433',
 '60581',
 '86299',
 '00218',
 '14505',
 '00230',
 '68805',
 '53980',
 '53089',
 '29796',
 '49961',
 '32451',
 '00303',
 '75126',
 '02990',
 '89681',
 '00277',
 '00127',
 '24404',
 '54734',
 '45876',
 '14106',
 '03381',
 '32310',
 '16848',
 '93189',
 '08236',
 '00074',
 '23738',
 '00319',
 '61813',
 '85094',
 '00271',
 '86542',
 '01408',
 '50727',
 '65509',
 '29159',
 '39802',
 '00582',
 '00126',
 '98171',
 '15678',
 '50466',
 '06924',
 '00748',
 '91811',
 '08971',
 '49178',
 '18527',
 '32625',
 '00191',
 '65675',
 '22377',
 '00147',
 '62105',
 '00033',
 '24563',
 '62241',
 '00078',
 '54214',
 '15963',
 '81095',
 '19762',
 '03263',
 '00125',
 '23231',
 '92948',
 '39342',
 '19241',
 '00118',
 '00317',
 '08773',
 '83937',
 '30024',
 '00028',
 '36994',
 '96699',
 '14088',
 '15930',
 '54100',
 '04055',
 '00316',
 '74782',
 '01850',
 '08777',
 '74375',
 '97308',
 '14255',
 '28551',
 '83449',
 '41340',
 '00216',
 '62440',
 '79525',
 '61591',
 '00076',
 '46597',
 '00209',
 '27678',
 '00195',
 '08021',
 '99999',
 '68112',
 '76339',
 '05116',
 '16085',
 '63880',
 '00321',
 '00286',
 '72186',
 '26651',
 '96760',
 '68006',
 '00578',
 '55236',
 '18954',
 '75347',
 '75911',
 '06681',
 '83777',
 '49791',
 '86474',
 '33237',
 '44805',
 '00263',
 '00267',
 '96349',
 '04193',
 '34988',
 '19180',
 '00219',
 '66191',
 '16193',
 '24258',
 '00010',
 '20061',
 '02853',
 '51065',
 '21045',
 '05291',
 '16214',
 '68856',
 '00357',
 '00170',
 '28977',
 '03663',
 '26199',
 '27604',
 '26043',
 '03523',
 '13978',
 '04255',
 '32082',
 '32949',
 '60953',
 '80317',
 '16321',
 '53510',
 '94454',
 '54614',
 '51060',
 '49741',
 '02230',
 '00053',
 '11816',
 '38778',
 '26776',
 '46767',
 '97484',
 '09315',
 '70455',
 '00156',
 '41301',
 '90888',
 '31755',
 '71921',
 '00011',
 '62962',
 '91947',
 '10518',
 '81472',
 '62415',
 '85504',
 '36390',
 '87738',
 '26511',
 '00021',
 '60688',
 '25659',
 '09269',
 '11569',
 '14767',
 '40865',
 '58814',
 '00152',
 '14884',
 '01651',
 '26531',
 '05211',
 '55300',
 '31428',
 '39638',
 '33553',
 '71998',
 '29379',
 '25683',
 '00212',
 '54788',
 '05038',
 '67280',
 '48274',
 '42120',
 '04461',
 '20827',
 '01883',
 '17560',
 '18253',
 '30059',
 '79817',
 '54281',
 '29000',
 '63852',
 '32200',
 '82951',
 '19800',
 '17277',
 '29025',
 '31133',
 '70810',
 '74523',
 '90612',
 '15229',
 '30660',
 '26647',
 '77249',
 '89290',
 '37551',
 '77978',
 '19911',
 '00206',
 '00042',
 '00020',
 '00009',
 '89913',
 '68037',
 '00117',
 '17769',
 '52147',
 '00050',
 '18402',
 '22099',
 '23630',
 '77576',
 '55911',
 '59051',
 '90154',
 '62517',
 '87315',
 '77706',
 '12786',
 '00151',
 '94538',
 '37018',
 '00038',
 '27902',
 '59128',
 '71891',
 '54544',
 '63039',
 '95935',
 '73204',
 '76386',
 '21955',
 '05152',
 '31208',
 '38121',
 '96786',
 '19364',
 '56326',
 '66771',
 '03617',
 '10194',
 '30283',
 '83377',
 '69037',
 '48710',
 '00198',
 '61746',
 '76486',
 '62687',
 '02962',
 '05374',
 '48042',
 '89576',
 '76851',
 '00172',
 '72451',
 '01008',
 '10348',
 '27046',
 '19875',
 '34096',
 '50373',
 '92962',
 '06223',
 '64199',
 '00162',
 '64503',
 '65953',
 '77688',
 '46662',
 '37249',
 '00200',
 '77587',
 '00188',
 '25176',
 '37914',
 '52481',
 '06655',
 '55547',
 '84276',
 '37408',
 '21010',
 '38518',
 '00292',
 '00197',
 '00140',
 '27503',
 '03953',
 '23078',
 '92580',
 '00304',
 '88973',
 '52013',
 '18385',
 '85737',
 '84005',
 '92431',
 '73336',
 '52227',
 '01762',
 '91167',
 '01183',
 '29514',
 '65321',
 '13824',
 '18849',
 '00289',
 '30977',
 '10982',
 '00002',
 '80175',
 '24229',
 '38422',
 '74103',
 '78486',
 '63306',
 '28348',
 '34791',
 '03535',
 '50577',
 '65301',
 '04221',
 '00313',
 '00030',
 '12003',
 '14835',
 '05590',
 '01248',
 '77254',
 '33251',
 '61552',
 '65390',
 '63837',
 '52209',
 '00210',
 '37915',
 '96730',
 '62261',
 '00941',
 '40828',
 '00145',
 '03100',
 '37091',
 '39726',
 '00024',
 '77509',
 '29271',
 '84187',
 '99835',
 '00232',
 '30016',
 '41026',
 '89394',
 '17938',
 '53616',
 '47938',
 '00146',
 '00205',
 '81621',
 '87733',
 '52131',
 '70281',
 '04387',
 '00295',
 '61486',
 '17536',
 '09617',
 '87337',
 '00241',
 '99250',
 '61095',
 '14771',
 '47623',
 '46341',
 '71813',
 '00090',
 '36362',
 '18524',
 '99771',
 '85934',
 '00149',
 '07203',
 '35605',
 '91438',
 '98703',
 '23010',
 '45736',
 '85702',
 '25829',
 '46948',
 '66082',
 '27732',
 '11361',
 '10992',
 '02639',
 '29118',
 '94150',
 '60879',
 '26859',
 '77782',
 '51568',
 '10724',
 '30311',
 '11611',
 '17415',
 '61218',
 '11159',
 '22804',
 '80463',
 '00059',
 '00394',
 '06790',
 '73381',
 '55659',
 '33219',
 '19202',
 '81724',
 '34829',
 '00158',
 '08818',
 '22545',
 '88351',
 '00138',
 '05433',
 '00173',
 '65555',
 '13406',
 '00082',
 '95668',
 '06964',
 '82211',
 '00207',
 '53188',
 '57398',
 '82822',
 '46627',
 '27589',
 '18008',
 '00150',
 '63748',
 '82777',
 '63865',
 '23889',
 '23554',
 '71417',
 '00039',
 '38614',
 '45752',
 '95104',
 '45668',
 '78960',
 '49322',
 '11055',
 '09226',
 '88942',
 '86483',
 '62070',
 '89470',
 '00041',
 '63477',
 '65995',
 '46951',
 '00071',
 '09343',
 '86721',
 '00083',
 '89475',
 '37228',
 ' 9394',
 '00148',
 '53076',
 '51795',
 '05210',
 '79028',
 '48514',
 '00008',
 '88459',
 '61121',
 '49424',
 '72483',
 '03562',
 '75771',
 '64671',
 '19527',
 '02728',
 '48646',
 '76803',
 '49215',
 '46291',
 '00213',
 '66473',
 '56044',
 '21860',
 '72364',
 '28062',
 '43068',
 '58993',
 '28917',
 '01024',
 '00566',
 '38305',
 '00404',
 '00035',
 '95127',
 '23049',
 '71152',
 '96706',
 '86588',
 '00235',
 '82582',
 '83276',
 '81409',
 ...}

In [10]:
B=list() 
for each_row in data_test.iterrows(): # loop each_row ใน data_test
    if len(str(each_row[1]['site']))== 5 : #เลือกตัวอักษรที่เท่ากับ 5
        if str(each_row[1]['site']) <= '99999' : #ถ้า user  น้อยกว่า 100000
            B.append(True) #ให้เพิ่มเข้าไปใน B
        elif str(each_row[1]['site']) >= '99999' : #ถ้า user มากกว่า 100000
            B.append(False) #ไม่ให้เพิ่มเข้าไปใน B
    else:
        B.append(False) #ถ้าไม่ใช่ทั้งหมด ไม่ให้เพิ่มเข้าไปใน B

data_test2 = data_test[B] # ใส่ตัวแปร
data_test2# เรียกดูตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [11]:
set(data_test2['site'])  # ดู set ข้อมูลของ site

{' 0502',
 '00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '043.1',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05369',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05438',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13377',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

In [12]:
data_test2 = data_test2[data_test2['site']!= ' 0502'] #ตัดข้อมูล ที่มีค่า ' 0502'

In [13]:
data_test2 = data_test2[(data_test2['PartitionKey'].astype(str).str.isdigit()) & (data_test2['PartitionKey'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ PartitionKey ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_test2.shape)
data_test2

(38385, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [14]:
set(data_test2['PartitionKey'])  # ดู set ข้อมูลของ PartitionKey

{'00380',
 '02035',
 '00628',
 '03954',
 '00299',
 '01819',
 '04812',
 '01369',
 '00302',
 '00480',
 '00161',
 '01117',
 '00508',
 '01233',
 '02262',
 '01434',
 '00929',
 '05302',
 '00096',
 '01138',
 '03093',
 '00565',
 '03141',
 '04684',
 '04686',
 '00933',
 '01438',
 '02122',
 '03311',
 '03254',
 '00921',
 '01659',
 '01581',
 '01036',
 '00981',
 '01636',
 '00176',
 '01999',
 '03824',
 '01600',
 '05989',
 '08933',
 '03472',
 '04693',
 '00556',
 '02687',
 '00433',
 '00656',
 '04766',
 '05121',
 '00562',
 '01263',
 '02935',
 '02366',
 '01163',
 '00514',
 '01980',
 '00560',
 '01097',
 '08919',
 '00287',
 '01647',
 '00079',
 '00897',
 '05119',
 '08975',
 '01934',
 '01965',
 '01912',
 '01880',
 '03309',
 '02500',
 '01962',
 '01391',
 '00248',
 '02878',
 '00221',
 '00217',
 '04661',
 '00776',
 '02623',
 '00661',
 '03826',
 '05118',
 '03287',
 '00257',
 '01288',
 '00859',
 '01202',
 '00285',
 '02652',
 '01792',
 '01873',
 '00659',
 '01949',
 '00288',
 '00426',
 '08998',
 '01383',
 '03233',
 '08924',
 '00174',
 '01279',
 '02731',
 '03422',
 '02710',
 '08912',
 '02638',
 '00227',
 '00388',
 '03351',
 '04641',
 '01785',
 '00694',
 '03497',
 '00333',
 '02523',
 '00809',
 '01431',
 '03933',
 '04001',
 '04651',
 '01506',
 '01657',
 '02933',
 '05721',
 '08936',
 '00561',
 '00750',
 '02802',
 '01834',
 '01447',
 '02775',
 '00012',
 '01943',
 '01324',
 '02763',
 '02643',
 '04033',
 '00970',
 '05806',
 '00409',
 '02094',
 '00330',
 '03217',
 '00509',
 '01856',
 '00004',
 '01738',
 '02494',
 '10999',
 '01580',
 '04736',
 '04974',
 '04347',
 '00164',
 '05099',
 '01838',
 '00875',
 '01930',
 '01035',
 '00100',
 '02376',
 '02857',
 '00579',
 '00270',
 '01676',
 '06033',
 '00397',
 '02062',
 '04681',
 '02490',
 '00684',
 '00351',
 '87606',
 '01884',
 '05227',
 '00537',
 '00814',
 '03178',
 '00811',
 '00422',
 '09000',
 '00803',
 '00902',
 '00003',
 '00884',
 '02979',
 '03354',
 '03724',
 '00418',
 '03272',
 '04095',
 '08958',
 '01748',
 '02875',
 '02144',
 '01956',
 '01384',
 '01133',
 '03358',
 '02120',
 '00036',
 '05129',
 '06014',
 '02199',
 '00710',
 '02592',
 '10979',
 '00872',
 '02704',
 '01661',
 '01527',
 '00298',
 '00265',
 '01280',
 '02673',
 '03144',
 '02951',
 '03527',
 '00141',
 '01562',
 '02769',
 '01684',
 '01681',
 '01415',
 '00014',
 '00595',
 '02889',
 '02040',
 '01461',
 '02945',
 '03049',
 '08911',
 '08743',
 '00306',
 '00485',
 '02833',
 '00791',
 '00962',
 '00917',
 '02434',
 '02986',
 '00069',
 '01911',
 '03039',
 '00131',
 '02403',
 '00637',
 '05974',
 '01155',
 '00463',
 '01591',
 '03156',
 '03499',
 '06027',
 '05207',
 '01869',
 '90470',
 '00479',
 '02812',
 '04165',
 '01861',
 '02426',
 '03399',
 '01526',
 '01357',
 '02195',
 '02741',
 '00974',
 '00192',
 '08941',
 '00491',
 '00031',
 '00535',
 '02925',
 '01373',
 '01205',
 '01410',
 '00228',
 '03332',
 '08948',
 '04662',
 '01321',
 '04793',
 '08926',
 '08977',
 '03322',
 '02072',
 '01269',
 '01120',
 '00649',
 '02098',
 '08993',
 '00215',
 '04735',
 '09038',
 '01544',
 '00825',
 '01106',
 '04665',
 '01710',
 '03273',
 '04168',
 '00310',
 '00948',
 '01577',
 '00774',
 '01417',
 '01335',
 '03359',
 '05724',
 '00467',
 '02466',
 '00185',
 '00919',
 '02189',
 '01251',
 '03948',
 '01505',
 '04800',
 '00627',
 '03048',
 '01055',
 '04072',
 '01941',
 '02999',
 '03939',
 '01658',
 '00439',
 '05228',
 '00067',
 '02423',
 '01189',
 '04017',
 '00601',
 '08937',
 '01882',
 '02622',
 '02135',
 '00954',
 '02455',
 '02143',
 '02871',
 '01203',
 '02883',
 '03015',
 '03060',
 '03877',
 '08961',
 '02596',
 '01669',
 '03127',
 '04163',
 '01516',
 '03002',
 '03221',
 '01363',
 '00328',
 '00429',
 '00376',
 '00843',
 '01377',
 '00632',
 '08947',
 '00731',
 '09005',
 '00916',
 '00820',
 '01337',
 '01654',
 '08973',
 '01751',
 '05125',
 '02056',
 '01507',
 '01872',
 '01211',
 '00337',
 '03565',
 '01628',
 '01674',
 '05115',
 '02508',
 '01596',
 '05967',
 '08905',
 '00761',
 '01219',
 '01942',
 '03151',
 '03055',
 '02009',
 '06055',
 '00411',
 '01262',
 '00908',
 '09041',
 '02799',
 '05323',
 '01028',
 '00569',
 '02480',
 '00001',
 '00554',
 '00806',
 '01002',
 '08951',
 '10965',
 '00849',
 '00345',
 '10980',
 '05096',
 '00837',
 '02042',
 '02869',
 '04668',
 '02142',
 '04692',
 '03072',
 '00088',
 '00549',
 '04180',
 '01186',
 '00261',
 '02595',
 '00846',
 '03088',
 '01534',
 '02161',
 '06032',
 '01323',
 '08991',
 '01955',
 '01385',
 '01493',
 '02768',
 '08982',
 '00753',
 '02676',
 '04625',
 '02054',
 '00689',
 '05382',
 '01971',
 '00064',
 '00486',
 '00616',
 '00979',
 '01334',
 '02790',
 '06717',
 '02208',
 '02627',
 '01791',
 '00959',
 '02002',
 '02268',
 '00641',
 '00850',
 '04188',
 '03553',
 '01589',
 '02387',
 '01489',
 '02004',
 '02683',
 '03061',
 '03411',
 '01301',
 '10974',
 '01456',
 '01612',
 '01788',
 '01285',
 '02827',
 '00264',
 '02384',
 '00696',
 '02034',
 '02507',
 '00311',
 '01827',
 '02579',
 '02312',
 '01113',
 '01213',
 '08995',
 '03424',
 '00939',
 '00179',
 '06062',
 '01247',
 '01936',
 '00423',
 '00673',
 '01420',
 '00619',
 '01587',
 '02982',
 '00880',
 '01476',
 '10968',
 '00017',
 '02066',
 '01204',
 '02049',
 '11007',
 '08974',
 '00630',
 '00667',
 '01814',
 '01013',
 '00276',
 '00887',
 '00631',
 '05342',
 '00341',
 '01188',
 '03109',
 '00719',
 '02464',
 '03222',
 '00943',
 '01820',
 '03059',
 '02124',
 '00878',
 '00982',
 '00211',
 '00369',
 '00222',
 '01990',
 '02910',
 '01723',
 '01670',
 '03977',
 '03206',
 '08572',
 '01003',
 '02299',
 '01389',
 '01938',
 '01879',
 '05831',
 '03515',
 '00907',
 '05983',
 '04036',
 '08964',
 '01859',
 '04046',
 '02446',
 '01026',
 '00642',
 '00971',
 '08965',
 '01495',
 '03361',
 '05720',
 '00124',
 '03417',
 '01439',
 '02943',
 '10967',
 '00414',
 '05341',
 '01986',
 '00575',
 '01708',
 '04071',
 '00870',
 '02586',
 '01073',
 '01767',
 '11163',
 '03415',
 '08985',
 '01143',
 '01322',
 '04080',
 '03402',
 '02351',
 '03092',
 '03078',
 '01620',
 '02014',
 '02524',
 '02264',
 '00862',
 '02879',
 '05289',
 '00410',
 '00764',
 '01625',
 '04658',
 '01876',
 '00881',
 '03488',
 '00102',
 '01655',
 '03140',
 '08916',
 '03979',
 '88432',
 '00111',
 '01503',
 '01960',
 '01928',
 '00828',
 '01830',
 '02287',
 '01726',
 '02355',
 '00526',
 '01081',
 '01345',
 '02983',
 '00343',
 '01851',
 '01868',
 '01550',
 '00989',
 '03279',
 '09017',
 '02690',
 '00685',
 '02240',
 '00985',
 '03168',
 '03978',
 '01307',
 '04659',
 '08917',
 '01823',
 '04024',
 '03030',
 '03252',
 '00255',
 '00478',
 '00914',
 '03069',
 '01060',
 '03313',
 '01592',
 '01139',
 '01380',
 '05259',
 '01951',
 '08503',
 '00528',
 '05098',
 '03552',
 '00721',
 '01446',
 '03317',
 '00208',
 '02063',
 '01877',
 '02823',
 '00988',
 '01843',
 '03110',
 '03521',
 '01920',
 '04117',
 '00134',
 '00412',
 '01910',
 '02509',
 '00646',
 '01741',
 '01165',
 '03248',
 '05189',
 '01575',
 '01898',
 '01915',
 '01181',
 '01214',
 '02632',
 '00668',
 '09001',
 '00251',
 '00305',
 '01551',
 '01888',
 '02589',
 '02929',
 '00283',
 '02931',
 '00626',
 '00708',
 '04632',
 '01958',
 '00290',
 '02719',
 '01926',
 '02408',
 '01430',
 '02017',
 '01467',
 '01318',
 '00824',
 '01582',
 '02872',
 '03949',
 '00046',
 '02337',
 '08942',
 '02973',
 '01518',
 '00379',
 '00189',
 '01314',
 '00204',
 '02681',
 '03334',
 '01490',
 '08909',
 '00122',
 '00874',
 '00555',
 '10986',
 '03506',
 '05343',
 '05120',
 '00060',
 '00756',
 '01428',
 '00392',
 '02907',
 '00778',
 '03825',
 '01173',
 '01361',
 '05985',
 '01808',
 '03033',
 '03052',
 '00473',
 '02177',
 '02487',
 '00427',
 '01996',
 '00361',
 '02472',
 '01905',
 '00447',
 '02782',
 '03373',
 '08957',
 '00449',
 '01231',
 '02843',
 '03239',
 '05961',
 '01304',
 '00109',
 '00144',
 '02313',
 '00589',
 '33664',
 '00730',
 '01970',
 '05318',
 '02188',
 '00417',
 '02985',
 '01388',
 '03546',
 '00977',
 '01953',
 '02610',
 '00665',
 '03063',
 '09030',
 '04650',
 '05117',
 '02976',
 '01148',
 '00099',
 '03434',
 '01086',
 '00926',
 '01021',
 '02517',
 '01781',
 '01207',
 '00364',
 '01234',
 '01666',
 '01595',
 '03105',
 '02847',
 '00972',
 '03394',
 '05354',
 '03229',
 '05965',
 '00519',
 '10978',
 '00900',
 '04030',
 '05984',
 '00307',
 '02619',
 '01502',
 '02167',
 '04087',
 '01132',
 '00957',
 '01274',
 '00070',
 '00387',
 '01235',
 '04186',
 '02333',
 '00466',
 '04675',
 '00089',
 '02484',
 '02162',
 '00218',
 '02036',
 '01100',
 '02273',
 '00691',
 '00230',
 '01144',
 '01455',
 '02486',
 '01770',
 '02844',
 '00303',
 '01303',
 '02180',
 '08943',
 '02990',
 '08959',
 '09021',
 '00277',
 '01405',
 '00127',
 '00716',
 '01268',
 '01466',
 '01579',
 '01343',
 '02795',
 '05976',
 '01852',
 '03058',
 '01007',
 '00636',
 '03381',
 '00951',
 '02028',
 '03126',
 '03614',
 '02675',
 '02585',
 '04674',
 '00355',
 '00538',
 '02563',
 '01069',
 '05281',
 '01272',
 '00074',
 '01359',
 '01499',
 '00319',
 '00367',
 '01584',
 '00271',
 '03133',
 '04685',
 '05244',
 '04511',
 '03533',
 '04039',
 '02204',
 '05960',
 '00582',
 '00126',
 '04014',
 '04016',
 '05100',
 '10985',
 '03153',
 '01039',
 '01618',
 '00748',
 '01870',
 '01134',
 '03711',
 '06031',
 '08069',
 '08971',
 '02752',
 '00191',
 '01325',
 '01225',
 '02228',
 '00737',
 '01116',
 '01529',
 '00147',
 '05094',
 '02754',
 '02321',
 '09011',
 '00033',
 '04782',
 '02305',
 '02196',
 '04646',
 '00078',
 '00940',
 '01010',
 '04649',
 '05147',
 '03263',
 '00063',
 '00679',
 '00125',
 '08972',
 '01908',
 '00663',
 '02968',
 '02256',
 '04671',
 '01778',
 '03362',
 '03445',
 '02336',
 '01267',
 '00118',
 '02737',
 '01328',
 '01707',
 '00317',
 '02409',
 '00028',
 '01605',
 '08962',
 '04669',
 '03542',
 '00323',
 '02093',
 '01031',
 '00258',
 '00244',
 '00924',
 '00742',
 '00557',
 '05996',
 '01254',
 '00106',
 '04253',
 '01940',
 '00316',
 '00816',
 '01171',
 '02078',
 '01850',
 '02139',
 '01899',
 '60202',
 '08978',
 '01243',
 '02360',
 '01437',
 '04101',
 '00262',
 '05991',
 '00995',
 '01326',
 '01799',
 '00451',
 '01344',
 '01409',
 '02918',
 '00669',
 '01196',
 '00216',
 '02095',
 '02136',
 '02526',
 '00097',
 '01351',
 '04619',
 '00895',
 '05262',
 '02841',
 '10995',
 '05248',
 '01772',
 '01050',
 ...}

In [15]:
data_test2.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data_test2
#เนื่องจากยังมีค่า True แสดงว่าตารางนี้ยังมีค่า Missing

user            False
RowKey          False
date             True
ov               True
phone           False
site            False
time             True
urine            True
PartitionKey    False
title            True
age              True
dtype: bool

In [16]:
data_test2 #เรียกดูตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

## แทนค่าข้อมูลที่ผิดปกติ

In [17]:
data_test2[['ov']] = data_test2[['ov']].fillna('0') ##แทนค่า NaN  เป็น 0
data_test2[['time']] = data_test2[['time']].fillna('ไม่ระบุ') ##แทนค่า NaN  เป็น ไม่ระบุ
data_test2[['urine']] = data_test2[['urine']].fillna('ไม่ระบุ') ##แทนค่า NaN  เป็น ไม่ระบุ
data_test2[['title']] = data_test2[['title']].fillna('ไม่ระบุ') ##แทนค่า NaN  เป็น ไม่ระบุ
data_test2[['age']] = data_test2[['age']].fillna('ไม่ระบุ') ##แทนค่า NaN  เป็น ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [18]:
data_test2 = data_test2.dropna() #คำสั่ง dropna ลบค่า Missing

In [19]:
data_test2

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,ไม่ระบุ,ไม่ระบุ
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,ไม่ระบุ
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,ไม่ระบุ
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,ไม่ระบุ
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,ไม่ระบุ
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,ไม่ระบุ

In [20]:
data_test2.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data_test2 หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
title           False
age             False
dtype: bool

## เปลี่ยน type ข้อมูลเป็น String

In [21]:
import numpy as np

### เปลี่ยน user, site, ov, PartitionKey, age เป็นตัวเลขเท่านั้น (int)

โดยการตั้งค่า  error='coerce' จะแปลงค่าที่ไม่ใช่ตัวเลขเป็น  NaN

In [22]:
data_test2['user'] = pd.to_numeric(data_test2['user'], errors='coerce') #เปลี่ยนไทป์ user เป็นตัวเลขเท่านั้น (int) โดยคำสั่ง pd.to_numeric
data_test2['ov'] = pd.to_numeric(data_test2['ov'], errors='coerce') #เปลี่ยนไทป์ ov เป็นตัวเลขเท่านั้น (int) โดยคำสั่ง pd.to_numeric
data_test2['age'] = pd.to_numeric(data_test2['age'], errors='coerce'); #เปลี่ยนไทป์ age เป็นตัวเลขเท่านั้น (int) โดยคำสั่ง pd.to_numeric

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
data_test2.dtypes #เช็คไทป์ของข้อมูล

user            float64
RowKey           object
date             object
ov              float64
phone            object
site             object
time             object
urine            object
PartitionKey     object
title            object
age             float64
dtype: object

ตอนนี้จะสังเกตเห็น ค่า NaNโดยที่ประเภทข้อมูลเป็น float

สามารถทำโดยแทนที่ค่า 'NaN' ด้วยค่า '0' โดยใช้ df.replace:

In [24]:
data_test2 = data_test2.replace(np.nan, 0, regex=True)  
data_test2['user'] = data_test2['user'].astype(int)  # เปลี่ยน float เป็น int
data_test2['ov'] = data_test2['ov'].astype(int)   # เปลี่ยน float เป็น int
data_test2['age'] = data_test2['age'].astype(int)  # เปลี่ยน float เป็น int

In [25]:
data_test2.dtypes #เช็คไทป์ของข้อมูล

user             int64
RowKey          object
date            object
ov               int64
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age              int64
dtype: object

>เปลี่ยน Rowkey phone เเละ urine เป็น String

### เปลี่ยน RowKey, phone, urine, title เป็น String

In [26]:
data_test2 = data_test2.astype({'RowKey':'string', 'phone':'string','urine':'string','title':'string'}) 
# เปลี่ยน RowKey, phone, urine, title เป็น String
data_test2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38103 entries, 190 to 39816
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38103 non-null  int64
 1   RowKey        38103 non-null  string
 2   date          38103 non-null  object
 3   ov            38103 non-null  int64
 4   phone         38103 non-null  string
 5   site          38103 non-null  object
 6   time          38103 non-null  object
 7   urine         38103 non-null  string
 8   PartitionKey  38103 non-null  object
 9   title         38103 non-null  string
 10  age           38103 non-null  int64
dtypes: int64(3), object(4), string(4)
memory usage: 3.5+ MB

In [27]:
data_test2

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,ไม่ระบุ,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,0
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,0
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,0
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,0
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,0

> กำหนด ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [28]:
set(data_test2['ov']) # ดู set ข้อมูลของ ov

{0, 1, 2, 3, 4}

จะเห็นว่า ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ) อยู่แล้ว ดังนั้นไม่ต้องแก้ไขอะไร

>กำหนดรูปแบบของ time เป็น hh-mm-ss

In [29]:
data_test2['time'] = data_test2['time'].replace(':','-',regex=True) #เปลี่ยนข้อมูล time ที่เป็น : ให้เป็น -

In [30]:
data_test2

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,0
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,0
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,0
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,0
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,0

In [31]:
data_test2.info() # ดูไทป์ข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38103 entries, 190 to 39816
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38103 non-null  int64
 1   RowKey        38103 non-null  string
 2   date          38103 non-null  object
 3   ov            38103 non-null  int64
 4   phone         38103 non-null  string
 5   site          38103 non-null  object
 6   time          38103 non-null  object
 7   urine         38103 non-null  string
 8   PartitionKey  38103 non-null  object
 9   title         38103 non-null  string
 10  age           38103 non-null  int64
dtypes: int64(3), object(4), string(4)
memory usage: 3.5+ MB

In [32]:
data_test2['date'] = pd.to_datetime(data_test2['date'], format = "%Y/%m/%d") #เปลี่ยนไทป์ date ให้เป็น datetime

In [33]:
data_test2['time'] = data_test2['time'].replace(':','-', regex=True)
data_test2['time'] = pd.to_datetime(data_test2['time'],format='%H-%M%-%S',errors='ignore') #เปลี่ยนไทป์ time ให้เป็น time

In [34]:
data_test2.info()  # ดูไทป์ข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38103 entries, 190 to 39816
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38103 non-null  int64
 1   RowKey        38103 non-null  string
 2   date          38103 non-null  datetime64[ns]
 3   ov            38103 non-null  int64
 4   phone         38103 non-null  string
 5   site          38103 non-null  object
 6   time          38103 non-null  object
 7   urine         38103 non-null  string
 8   PartitionKey  38103 non-null  object
 9   title         38103 non-null  string
 10  age           38103 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(3), string(4)
memory usage: 3.5+ MB

> เปลี่ยนคอลัมน์ title เป็นเพศ

In [35]:
set(data_test2['title'])   # ดู set ของข้อมูล title

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 'Mrs',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง',
 'ไม่ระบุ'}

In [36]:
data_test2['title'].replace({'  นาง':'หญิง',
                    ' นาง':'หญิง',
                    ' นางสาว':'หญิง',
                    ' นาย':'ชาย',
                    'Mrs':'หญิง',
                    'ชาย':'ชาย',
                    'ด.ช.':'ชาย',
                    'ด.ญ.':'หญิง',
                    'ด.ต.':'ไม่ระบุ',
                    'น':'ไม่ระบุ',
                    'น.ส':'หญิง',
                    'น.ส ':'หญิง',
                    'น.ส.':'หญิง',
                    'นส':'หญิง',
                    'นส.':'หญิง',
                    'นส. ':'หญิง',
                    'นาง':'หญิง',
                    'นาง ':'หญิง',
                    'นาง.':'หญิง',
                    'นางl':'หญิง',
                    'นางสาว':'หญิง',
                    'นางสาว ':'หญิง',
                    'นางสาว                   ':'หญิง',
                    'นาน':'ชาย',
                    'นาบ':'ชาย',
                    'นาย':'ชาย',
                    'นาย ':'ชาย',
                    'นาย  ':'ชาย',
                    'นาว':'หญิง',
                    'นาวสาว':'หญิง',
                    'นา่ง':'หญิง',
                    'น่าย':'ชาย',
                    'พจอ.':'ไม่ระบุ',
                    'พระ':'ชาย',
                    'พระครุ':'ไม่ระบุ',
                    'พระปลัด':'ไม่ระบุ',
                    'พลฯ':'ไม่ระบุ',
                    'ร.ต.':'ไม่ระบุ',
                    'ร.ต.ต.':'ไม่ระบุ',
                    'ร.ต.ท.':'ไม่ระบุ',
                    'ร.ต.อ.':'ไม่ระบุ',
                    'รต.':'ไม่ระบุ',
                    'ว่าที่ ร.ต.':'ไม่ระบุ',
                    'ว่าที่ ร.ท.':'ไม่ระบุ',
                    'ว่าที่ร้อยตรี':'ไม่ระบุ',
                    0:'ไม่ระบุ',
                    'data is not completed':'ไม่ระบุ',
                    'okp':'ไม่ระบุ',
                    'ส.อ.':'ไม่ระบุ',
                    'ืนาง':'หญิง',
                    'เด็กชาย':'ชาย',
                    'เด็กหญิง':'หญิง'},inplace=True) #เปลี่ยนข้อมูลให้เป็น ชาย หญิง และ ไม่ระบุ

In [37]:
set(data_test2['title'])  # ดู set ของข้อมูล title

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [38]:
data_re = data_test2.rename(columns={'title':'sex'}) #เปลี่ยนชื่อคอลัมน์จาก title เป็น sex
data_re.head(5)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66

In [39]:
data_re.shape #ตรวจสอบขนาด

(38103, 11)

In [40]:
data_01 = data_re

In [41]:
data_01

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,0
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,0
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,0
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,0
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,0

## ตารางที่ 2

In [42]:
data_hospital = pd.read_excel(os.path.join(path,'hospital_list.xlsx')) #เรียกไฟล์ hospital_list.xlsx
data_hospital  #แสดงตาราง hospital_list.xlsx

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [43]:
data_hospital = data_hospital[['hcode','name','zone_name','province','amphur','tambon','name5','short_english']]      # เลือกเฉพาะคอลัมน์ที่ต้องการ
print(data_hospital.shape)  # ดูขนาดข้อมูล
data_hospital

(17103, 8)

,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด,ATG
...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.,RBR

In [44]:
data_hospital.isnull().sum() # ตรวจสอบหาค่า missing
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่

hcode              0
name               1
zone_name          4
province           0
amphur             2
tambon           209
name5              3
short_english      6
dtype: int64

In [45]:
data_hospital['name'] = data_hospital['name'].fillna('ไม่ระบุ') 
data_hospital['zone_name'] = data_hospital['zone_name'].fillna('ไม่ระบุ') 
data_hospital['amphur'] = data_hospital['amphur'].fillna('ไม่ระบุ') 
data_hospital['tambon'] = data_hospital['tambon'].fillna('ไม่ระบุ') 
data_hospital['name5'] = data_hospital['name5'].fillna('ไม่ระบุ') 
data_hospital['short_english'] = data_hospital['short_english'].fillna('ไม่ระบุ');
#แทน missing ด้วยค่าที่เหมาะสม ในตาราง data_hospital

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
data_hospital.isnull().sum() # ตรวจสอบหาค่า missing
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่

hcode            0
name             0
zone_name        0
province         0
amphur           0
tambon           0
name5            0
short_english    0
dtype: int64

In [47]:
data_use = data_01.merge(data_hospital,how='left',left_on='site',right_on='hcode')     # ใช้คำสั่ง merge เพื่อเชื่อมตาราง
data_use

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,0,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.,KKN
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล,KSN
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38098,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38099,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38100,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38101,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38102,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
data_use.isnull().sum() # ตรวจสอบหาค่า missing

user              0
RowKey            0
date              0
ov                0
phone             0
site              0
time              0
urine             0
PartitionKey      0
sex               0
age               0
hcode            75
name             75
zone_name        75
province         75
amphur           75
tambon           75
name5            75
short_english    75
dtype: int64

In [49]:
data_use = data_use.dropna()  #คำสั่ง dropna ลบค่า Missing 
data_use

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,0,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.,KKN
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล,KSN
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38086,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,2,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),89170,ไม่ระบุ,0,11088,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง,โรงพยาบาลชุมชน,KSN
38087,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,0,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),90470,ไม่ระบุ,0,11088,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง,โรงพยาบาลชุมชน,KSN
38088,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,1,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),91123,ไม่ระบุ,0,11088,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง,โรงพยาบาลชุมชน,KSN
38089,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,1,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),99444,ไม่ระบุ,0,11088,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง,โรงพยาบาลชุมชน,KSN
38090,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,0,"iPhone10,5",05396,11-03-40,ปกติ (เหลืองใส),99771,ไม่ระบุ,0,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,คำม่วง,เนินยาง,โรงพยาบาลส่งเสริมสุขภาพตำบล,KSN

In [50]:
data_use.to_csv(os.path.join(path,'data_use_edit.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

#Dashboard

https://datastudio.google.com/reporting/eb2a3c71-69ff-41fa-8e03-a1a7da745a4a