<a href="https://colab.research.google.com/github/khanittha-phusopha/data_viz_2022/blob/main/Project_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os
from datetime import datetime as dt
from datetime import time
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [ ]:
!wget -q https://github.com/Phonbopit/sarabun-webfont/raw/master/fonts/thsarabunnew-webfont.ttf

In [ ]:
import matplotlib as mpl
mpl.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf')
mpl.rc('font', family='TH Sarabun New')

In [ ]:
from google.colab import drive   
drive.mount('/content/drive')
path = '/content/drive/My Drive/project'

Mounted at /content/drive

#เตรียมข้อมูล

In [ ]:
data_file_path = os.path.join(path,'confirmed-cases.xlsx')   
data1= pd.read_excel(data_file_path)

In [ ]:
data1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [ ]:
data_file_path = os.path.join(path,'confirmed-cases-since-120864.xlsx')   
data2= pd.read_excel(data_file_path)

In [ ]:
data2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,2021-08-12,2021-08-11,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,2021-08-12,2021-08-11,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,2021-08-12,2021-08-11,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,2021-08-12,2021-08-11,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,2021-08-12,2021-08-11,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,2021-10-25,2021-10-24,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,2021-10-25,2021-10-24,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,2021-10-25,2021-10-24,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [ ]:
data_file_path = os.path.join(path,'confirmed-cases-since-271064.xlsx')   
data3= pd.read_excel(data_file_path)

In [ ]:
data3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [ ]:
data_file_path = os.path.join(path,'confirmed-cases-since-280265.xlsx')   
data4= pd.read_excel(data_file_path)

In [ ]:
data4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
507789,3377406,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,พิษณุโลก,ทัณฑสถาน/เรือนจำ,NaN,NaN
507790,3377407,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,ศรีสะเกษ,ทัณฑสถาน/เรือนจำ,NaN,NaN
507791,3377408,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
507792,3377409,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
507793,3377410,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [ ]:
data1234=pd.concat([data1,data2,data3,data4])

In [ ]:
data1234

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
507789,3377406,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,พิษณุโลก,ทัณฑสถาน/เรือนจำ,NaN,NaN
507790,3377407,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,ศรีสะเกษ,ทัณฑสถาน/เรือนจำ,NaN,NaN
507791,3377408,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
507792,3377409,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
507793,3377410,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [ ]:
data1234.isnull().sum()

No.                           0
announce_date                 0
Notified date              2795
sex                      186255
age                      271294
Unit                     291469
nationality              298331
province_of_isolation      3956
risk                       1187
province_of_onset        408327
district_of_onset        504397
dtype: int64

In [ ]:
data1234new=data1234.fillna(value={'Notified date':'ไม่ปรากฎข้อมูล','sex':'ไม่ปรากฎข้อมูล','age':'ไม่ปรากฎข้อมูล','Unit':'ปี','nationality':'ไม่ปรากฎข้อมูล','province_of_isolation':'ไม่ปรากฎข้อมูล','risk':'ไม่ปรากฎข้อมูล','province_of_onset':'ไม่ปรากฎข้อมูล','province_of_onset':'ไม่ปรากฎข้อมูล','district_of_onset':'ไม่ปรากฎข้อมูล'})

In [ ]:
data1234new

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่ปรากฎข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล
1,2,2020-01-17,ไม่ปรากฎข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล
2,3,2020-01-22,ไม่ปรากฎข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่ปรากฎข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล
4,5,2020-01-24,ไม่ปรากฎข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
507789,3377406,2022-03-21,2022-03-20 00:00:00,ชาย,ไม่ปรากฎข้อมูล,ปี,ไม่ปรากฎข้อมูล,พิษณุโลก,ทัณฑสถาน/เรือนจำ,ไม่ปรากฎข้อมูล,ไม่ปรากฎข้อมูล
507790,3377407,2022-03-21,2022-03-20 00:00:00,ชาย,ไม่ปรากฎข้อมูล,ปี,ไม่ปรากฎข้อมูล,ศรีสะเกษ,ทัณฑสถาน/เรือนจำ,ไม่ปรากฎข้อมูล,ไม่ปรากฎข้อมูล
507791,3377408,2022-03-21,2022-03-20 00:00:00,ชาย,ไม่ปรากฎข้อมูล,ปี,ไม่ปรากฎข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ปรากฎข้อมูล,ไม่ปรากฎข้อมูล
507792,3377409,2022-03-21,2022-03-20 00:00:00,ชาย,ไม่ปรากฎข้อมูล,ปี,ไม่ปรากฎข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ปรากฎข้อมูล,ไม่ปรากฎข้อมูล
507793,3377410,2022-03-21,2022-03-20 00:00:00,ชาย,ไม่ปรากฎข้อมูล,ปี,ไม่ปรากฎข้อมูล,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,ไม่ปรากฎข้อมูล,ไม่ปรากฎข้อมูล

In [ ]:
data1234new.isnull().sum()

No.                      0
announce_date            0
Notified date            0
sex                      0
age                      0
Unit                     0
nationality              0
province_of_isolation    0
risk                     0
province_of_onset        0
district_of_onset        0
dtype: int64

In [ ]:
len(set(data1234new['province_of_isolation']))

81

In [ ]:
set(data1234new['province_of_isolation'])

{'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ปรากฎข้อมูล'}

In [ ]:
data1234new['province_of_isolation'].replace({'กทม':'กรุงเทพมหานคร','ขอนแก่น\xa0':'ขอนแก่น','ภููเก็ต':'ภูเก็ต'}, inplace=True )

In [ ]:
len(set(data1234new['province_of_isolation']))

78

In [ ]:
set(data1234new['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉวาง',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลฃบุรี',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พระพรหม',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สสป.ลาว',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่ปรากฎข้อมูล',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

In [ ]:
data1234new['province_of_onset'].replace({'\xa0กาญจนบุรี':'กาญจนบุรี','\xa0ชลบุรี':'ชลบุรี','\xa0ตราด':'ตราด','\xa0นครปฐม':'นครปฐม',
'\xa0สมุทรสงคราม':'สมุทรสงคราม','\xa0อุทัยธานี':'อุทัยธานี','กทม':'กรุงเทพมหานคร','กาฬสินธิ์':'กาฬสินธุ์',
 'กาฬสินธ์':'กาฬสินธุ์','ขอนแก่่น':'ขอนแก่น','ขัยนาท':'ชัยนาท','ชมพร':'ชุมพร','ชลบุรี\t':'ชลบุรี','ชลบุุรี':'ชลบุรี','ชุุมพร':'ชุมพร',
'ท้ายบ้าน':'สมุทรปราการ','ธารโต':'ยะลา','นคนปฐม':'นครปฐม','นคปฐม':'นครปฐม','นครปบม':'นครพนม','นครศร๊ะรรมราช':'นครศรีธรรมราช',
 'นครศร๊ะรรมราช':'นครศรีธรรมราช','นตรปฐม':'นครปฐม','นอกเขต':'ไม่ปรากฎข้อมูล','นาราธิวาส':'นราธิวาส','นาวัง':'น่าน','บางกะปิ':'กรุงเทพมหานคร',
'บึงโขงหลง':'บึงกาฬ','บุรีรัมย์\xa0':'บุรีรัมย์','บุรีรัยม์':'บุรีรัมย์','บ้านหลวง':'น่าน','ปทุมธานี.':'ปทุมธานี','ปทุมธานีี':'ปทุมธานี','ปทุุมธานี':'ปทุมธานี',
'ปมุมธานี':'ปทุมธานี','ประจวบฯ':'ประจวบคีรีขันธ์','ปลวกแดง':'ระยอง','ปลายพระยา':'กระบี่','ปัว':'น่าน','ปุทมธานี':'ปทุมธานี','พม่า':'ไม่ปรากฎข้อมูล','พิษณูโลก':'พิษณุโลก',
'ภูเพียง':'น่าน','มหาสาคาม':'มหาสารคาม','มาเลเซีย':'ไม่ปรากฎข้อมูล','ยานาวา':'กรุงเทพมหานคร','ร้องกวาง':'แพร่','ลอง':'แพร่','ลำลูกกา':'ปทุมธานี','วังชิ้น':'แพร่',
'ศรีษะเกษ':'ศรีสะเกษ','สงขลา\u200b':'สงขลา','สถานที่ทำงาน':'ไม่ปรากฎข้อมูล','สมถทรปราการ':'สมุทรปราการ','สมุทรปรากร':'สมุทรปราการ','สมทรสาคร':'สมุทรสาคร','สมุครปราการ':'สมุทรปราการ',
'สมุทรปรากร':'สมุทรปราการ','สมุทรปรากรร':'สมุทรปราการ','สมุทราปราการ':'สมุทรปราการ','สมุทสงคราม':'สมุทรสงคราม','สมุทสาคร':'สมุทรสาคร','สมุุทรปราการ':'สมุทรปราการ',
'สมุุทรสาคร':'สมุทรสาคร','สอง':'แพร่','สองแคว':'พิษณุโลก','สะแก้ว':'สระแก้ว','สารภี':'เชียงใหม่','สุทรปราการ':'สมุทรปราการ','สุมทรปราการ':'สมุทรปราการ','สุมทรสาคร':'สมุทรสาคร',
'สุมุทรปราการ':'สมุทรปราการ','สุมุทรสาคร':'สมุทรสาคร','สุราษฎร์์ธานี':'สุราษฎร์ธานี','สุราษฏร์ธานี':'สุราษฎร์ธานี','สุวรรณภูมิ':'ร้อยเอ็ด','สุุราษฎร์ธานี':'สุราษฎร์ธานี',
'สูงเม่น':'แพร่','หนองบััวลำภู':'หนองบัวลำภู','หนองม่วงไข่':'แพร่','อยุทธยา':'พระนครศรีอยุธยา','อยุธยา':'พระนครศรีอยุธยา','อยุุธยา':'พระนครศรีอยุธยา',
'อุดรธานีี':'อุดรธานี','อุบลราขธานี':'อุบลราชธานี','อุุดรธาน':'อุดรธานี','อุุดรธานี':'อุดรธานี','อุุตรดิตถ์':'อุตรดิตถ์','อุุทัยธานี':'อุทัยธานี',
'เชีียงราย':'เชียงราย','เด่นชัย':'แพร่','เพชรบุูรณ์':'เพชรบูรณ์','เมือง':'ไม่ปรากฎข้อมูล','เมืองน่าน':'น่าน','เรือ':'เลย','เวียงจันทร์':'ไม่ปรากฎข้อมูล','เวียงสา':'น่าน',
'แล้วป่วย':'ไม่ปรากฎข้อมูล','\xa0สมุทรสาคร':'สมุทรสาคร','กัมพูชา':'ไม่ปรากฎข้อมูล','ดรุงเทพมหานคร':'กรุงเทพมหานคร','ยานนาวา':'กรุงเทพมหานคร',
'ลาดพร้าว':'กรุงเทพมหานคร','ไม่ระบุ':'ไม่ปรากฎข้อมูล','นครนาชสีมา':'นครราชสีมา','อํานาจเจริญ':'อำนาจเจริญ','\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','USA':'ไม่ปรากฎข้อมูล','กทม':'กรุงเทพมหานคร','กบินทร์บุรี':'ปราจีนบุรี'
,'กระบี่ี่':'กระบี่','กรุงเทพ':'กรุงเทพมหานคร','กรุงเทพมหานคร.':'กรุงเทพมหานคร','กรุงเทพฯ':'กรุงเทพมหานคร','กะทู้':'ภูเก็ต','กาญจบุรี':'กาญจนบุรี','กาญนบุรี':'กาญจนบุรี','กาฬสิน':'กาฬสินธุ์','กาฬสินธุ์\xa0':'กาฬสินธุ์',
'กำแพงเพชร\xa0':'กำแพงเพชร','กําแพงเพชร':'กำแพงเพชร','ขอนแก่น\xa0':'ขอนแก่น','ขัยภูมิ':'ชัยภูมิ','ขานุวรลักษณ์บุรี':'กำแพงเพชร','คนไทยเดินทางกลับจากต่างประเทศ':'ไม่ปรากฎข้อมูล','คลองเตย':'กรุงเทพมหานคร','จ.กรุงเทพมหานคร':'กรุงเทพมหานคร',
'กทม.':'กรุงเทพมหานคร','กำแพง':'กำแพงเพชร','กำเพงเพชร':'กำแพงเพชร','จ.ภูเก็ต':'ภูเก็ต','จ.ราชบุรี':'ราชบุรี','จ.สุราษฎร์ธานี':'สุราษฎร์ธานี','จังหวัดสมุทรสาคร':'สมุทรสาคร','ฉวาง':'นครศรีธรรมราช','ฉะเชองเทราร':'ฉะเชิงเทรา',
'ชลฃบุรี':'ชลบุรี','ชลบุรี\xa0':'ชลบุรี','ชอนแก่น':'ขอนแก่น','ชัยนาถ':'ชัยนาท','ชัยบาดาล':'ลพบุรี','ชัยภูมิ\xa0':'ชัยภูมิ','ชุุุมพร':'ชุมพร','ดอนมดแดง':'อุบลราชธานี','ดินแดง':'กรุงเทพมหานคร','ตรััง':'ตรัง','ตราด\xa0':'ตราด','ตากใบ':'นราธิวาส',
'ต่างจังหวัด':'ไม่ปรากฎข้อมูล','ทุ่งเสลี่ยม':'สุโขทัย','นครนปฐม':'นครปฐม','นครปฐม\xa0':'นครปฐม','นครพนม\xa0':'นครพนม','นครยายก':'นครนายก','นครราขสีมา':'นครราชสีมา','นครราชธานี':'ไม่ปรากฎข้อมูล','นครราชศรีมา':'นครราชสีมา',
'นครราชสสีมา':'นครราชสีมา','นครราชสีมา\xa0':'นครราชสีมา','นครศรธรรมราช':'นครศรีธรรมราช','นครศรี':'นครศรีธรรมราช','นครศรีธรมราช':'นครศรีธรมราช','นครศรีฯ':'นครศรีธรมราช','นครศรีีธรรมราช':'นครศรีธรรมราช',
'นครศรีธรมมราช':'นครศรีธรรมราช','ครศรีธรมราช':'นครศรีธรรมราช','นครศรีธรรมราข':'นครศรีธรรมราช','นครศร๊ธรรมราช':'นครศรีธรรมราช','นครสรรค์':'นครสวรรค์','นครสรีธรรมราช':'นครศรีธรรมราช','นครสวรรค':'นครสวรรค์',
'กรุงเทพมหานคร. / พระนครศรีอยุธยา':'ไม่ปรากฎข้อมูล','กรุงเทพมหานคร. / ศรีสะเกษ':'ไม่ปรากฎข้อมูล','นครราชสีมา ลพบุรี':'ไม่ปรากฎข้อมูล','นครสวรรค์\xa0':'นครสวรรค์','นครสีธรรมราช':'นครศรีธรรมราช','นครฯ':'ไม่ปรากฎข้อมูล','นตรนายก':'นครนายก','นนทบุรี\xa0':'นนทบุรี',
'นนทบุุรี':'นนทบุรี','นนทุบรี':'นนทบุรี','นนทุรี':'นนทบุรี','นนมบุรี':'นนทบุรี','นรศรีธรรมราช':'นครศรีธรรมราช','นราธิวาส\u200b':'นราธิวาส','นราธฺวาส':'นราธิวาส','น่าน/ฉะเชิงเทรา':'ไม่ปรากฎข้อมูล','บางกรวย':'นนทบุรี','บางนา':'กรุงเทพมหานคร','บางปะอิน':'นครศรีอยุธยา','บางละมุง':'ชลบุรี','บางศรีเมือง':'นนทบุรี',
'บางเพียง':'สมุทรปราการ','บุรีรัมภ์':'บุรีรัมย์','บุรีรีมย์':'บุรีรัมย์', 'ปจ':'ไม่ปรากฎข้อมูล','ปทึมธานี':'ปทุมธานี','ปทุทธานี':'ปทุมธานี','ปทุมฑานี':'ปทุมธานี','ปทุมทานี':'ปทุมธานี','ปทุมธาน':'ปทุมธานี','ปทุมธานี\xa0':'ปทุมธานี','ปทุมาธานี':'ปทุมธานี','ปธุมธานี':'ปทุมธานี','ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์','ประจวบ':'ประจวบคีรีขันธ์','ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์',
'ประจวบคีรขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีรีขัน':'ประจวบคีรีขันธ์','ประจวบคีรีขันธื':'ประจวบคีรีขันธ์','ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์','ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์','นครศรีธรมราช':'นครศรีธรรมราช',
'นครศรีอยุธยา':'พระนครศรีอยุธยา','นคราชสีมา':'นครราชสีมา','นครีศรีธรรมราช':'นครศรีธรรมราช','ประทุมธานี':'ปทุมธานี','ประเทศกัมพูชา':'ไม่ปรากฎข้อมูล','ปราจีบุรี':'ปราจีนบุรี','ปอยเปต':'ไม่ปรากฎข้อมูล','ปัตตนรี':'ปัตตานี', 'ปัตตานนี':'ปัตตานี','ปัตตานีี':'ปัตตานี','ปััตตานี':'ปัตตานี','ป่าโมก':'อ่างทอง','พรหมพิราม':'พิษณุโลก','พัทยา':'ชลบุรี','พัทลุุง':'พัทลุง','พัังงา':'พังงา',
 'พิษณุโลก\xa0':'พิษณุโลก','ฟินแลนด์':'ไม่ปรากฎข้อมูล','ภาษีเจริญ':'กรุงเทพมหานคร','ภุเก็ต':'ภูเก็ต', 'ภูุเก็ต':'ภูเก็ต','ภููเก็ต':'ภูเก็ต','ภูเก็ต':'ภูเก็ต','ภูเก็็ต':'ภูเก็ต','มุกาดหาร':'มุกดาหาร','ร.จ.จ.นราธิวาส':'นราธิวาส','รอ':'ไม่ปรากฎข้อมูล','ระบุ':'ไม่ปรากฎข้อมูล','ระยอง\xa0':'ระยอง','ระอยง':'ระยอง', 'ราชบบุรี':'ราชบุรี','ราชบุรี':'ราชบุรี','ราชบุรีี':'ราชบุรี','ราชบุรี\u200b':'ราชบุรี',
 'ราชุรี':'ราชบุรี','ราชเทวี':'กรุงเทพมหานคร','ลบุรี':'ลพบุรี','ลพบุรี':'ลพบุรี','ลพบุรี.':'ลพบุรี','ลพบุรี\xa0':'ลพบุรี','ลาดกระบัง':'กรุงเทพมหานคร','ลาว':'ไม่ปรากฎข้อมูล','ลำพูน\u200b':'ลำพูน','ลำพููน':'ลำพูน','วังทอง':'พิษณุโลก','วิเศษชัยชาญ':'อ่างทอง', 'พระนครศรียุธยา':'พระนครศรีอยุธยา','พระนครศรีอยุทยา':'พระนครศรีอยุธยา','พระนครศรีอยุทธยา':'พระนครศรีอยุทธยา',
'พระนครศรีอยุธยา\xa0':'พระนครศรีอยุทธยา','พระพรหม':'นครศรีธรรมราช','พระนครศรีอยุทธยา':'พระนครศรีอยุธยา', 'ศรีษะสะเกษ':'ศรีสะเกษ', 'ศรีสระเกษ':'ศรีสะเกษ','ศีรสะเกษ':'ศรีสะเกษ','สครสวรรค์':'นครสวรรค์','สพรรณบุรี':'สุพรรณบุรี', 'สมทรสงคราม':'สมุทรสงคราม','สมุครสาคร':'สมุทรสาคร','สมุท':'ไม่ปรากฎข้อมูล', 'สมุทปราการ':'สมุทรปราการ','สมุทรปรากา':'สมุทรปราการ',
 'สมุทรปราการ\xa0':'สมุทรปราการ', 'สมุทรศาคร':'สมุทรสาคร','สมุทรสาคร\xa0':'สมุทรสาคร','สมุทรสาคา':'สมุทรสาคร','สมุทรสาคาร':'สมุทรสาคร','สมุทรสาทร':'สมุทรสาคร','สมุทรสารคร':'สมุทรสาคร','สมุทราสาคร':'สมุทรสาคร','สมุย':'สุราษฎร์ธานี', 'สมุุทรสงคราม':'สมุทรสงคราม', 'สระก้ว':'สระแก้ว', 'สระบุรี\xa0':'สระบุรี', 'สรินทร์':'สุรินทร์', 'สวิสเซอร์แลนด์':'ไม่ปรากฎข้อมูล',
'สสป.ลาว':'ไม่ปรากฎข้อมูล', 'สะพานสูง':'กรุงเทพมหานคร','สัตหีบ':'ชลบุรี', 'สัมผัสผู้ป่วยยืนยัน COVID20':'ไม่ปรากฎข้อมูล','สามุทรสาคร':'สมุทรสาคร','สิงห์บุรี\xa0':'สิงห์บุรี', 'สุพรรญบุรี':'สุพรรณบุรี', 'สุพรรณบุรั':'สุพรรณบุรี', 'สุพรรณบุรี\xa0':'สุพรรณบุรี','สุระบุรี':'สระบุรี','สุราษ':'สุราษฎร์ธานี','สุราษฎณ์ธานี':'สุราษฎร์ธานี', 'สุราษฎธานี':'สุราษฎร์ธานี', 'สุราษฎร์':'สุราษฎร์ธานี', 'สุราษฎร์ฯ':'สุราษฎร์ธานี',
 'สุราษฎ์ธานี':'สุราษฎร์ธานี', 'สุราษธานี':'สุราษฎร์ธานี','สุราษร์ฎธานี':'สุราษฎร์ธานี','สุราษร์ธานี':'สุราษฎร์ธานี','สุราษฯ':'สุราษฎร์ธานี','สุรินทรื':'สุรินทร์', 'สุรินทร์ 32150':'สุรินทร์', 'สุรินทร์,รีสะเกษ':'ไม่ปรากฎข้อมูล', 'สุรินทร์\xa0':'สุรินทร์', 'สุริมทร์':'สุรินทร์','สุริะแก้ว':'สระแก้ว', 'สุุพรรณบุรี':'สุพรรณบุรี', 'สุุราษฏร์ธานี':'สุราษฎร์ธานี', 'สุุราษฯ':'สุราษฎร์ธานี','สุุรินทร์':'สุรินทร์', 'สุุุโขทัย':'สุโขทัย', 'สุโขทับ':'สุโขทัย',
'สุโขทัย\xa0':'สุโขทัย','หนวงบัวลำภู':'หนองบัวลำภู', 'หนองงคาย':'หนองคาย','หนองบัวภู':'หนองบัวลำภู','หนองบัวลำพูน':'หนองบัวลำภู','หนองบัวลําภู':'หนองบัวลำภู','หนอบัวลำภู':'หนองบัวลำภู','หลายจังหวัด':'ไม่ปรากฎข้อมูล','หัวหิน':'ประจวบคีรีขันธ์','ห้วยขวาง':'กรุงเทพมหานคร','อำนาจเจิญ':'อำนาจเจริญ', 'อำนาญเจริญ':'อำนาจเจริญ', 'อำนาเจริญ':'อำนาจเจริญ', 'อิสราเอล':'ไม่ปรากฎข้อมูล',
 'อุดธานี':'อุดรธานี','อุดร':'อุดรธานี','อุดรธาณี':'อุดรธานี','อุดรธานี\xa0':'อุดรธานี','อุดรราชธานี':'อุดรธานี','อุตรดิตถ์\xa0':'อุตรดิตถ์','อุตรดิตถ์์':'อุตรดิตถ์','อุตรดิษถ์':'อุตรดิตถ์','อุตรดิิตถ์':'อุตรดิตถ์','อุตรติดถ์':'อุตรดิตถ์','อุทัยานี':'อุทัยธานี','อุบลราชธานี\xa0':'อุบลราชธานี', 'อุุครดิตถ์':'อุตรดิตถ์', 'อุุบลราชธานี':'อุบลราชธานี', 'อ่งทอง':'อ่างทอง','อ่างทอง\xa0':'อ่างทอง','เชิงเทรา':'ฉะเชิงเทรา', 'เชียรใหญ่':'นครศรีธรรมราช',
 'เชีียงใหม่':'เชียงใหม่','เพขรบุรี':'เพชรบุรี','เพขรบูรณื':'เพชรบุรี','เพขรบูรณ์':'เพชรบูรณ์','เพชรบุรณ์':'เพชรบูรณ์','เพชรบุรึ':'เพชรบุรี', 'เพชรบุุรี':'เพชรบุรี', 'เพชรบูรณ์\xa0':'เพชรบูรณ์','เพชรบูร์':'เพชรบูรณ์','เพชรบููรณ์':'เพชรบูรณ์','เมืองตาก':'ตาก','เมืองปัตตานี':'ปัตตานี','เลย\xa0':'เลย','แม่ทะ':'ลำปาง','โพธิ์ทอง':'อ่างทอง','ไชโย':'อ่างทอง','ไม่มีชื่อหอพัก':'ไม่ปรากฎข้อมูล','สารคาม':'มหาสารคาม'}, inplace=True )

In [ ]:
data1234new['province_of_onset'].replace({'ไม่ปรากฎข้อมูล':'ไม่ปรากฏข้อมูล'}, inplace=True )

In [ ]:
set(data1234new['province_of_onset'])

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ปรากฏข้อมูล'}

In [ ]:
len(set(data1234new['province_of_onset']))

78

In [ ]:
data_all= data1234new[(data1234new['announce_date']>='2020-01-12') & (data1234new['announce_date']<='2022-03-18')]
data_all

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่ปรากฎข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล
1,2,2020-01-17,ไม่ปรากฎข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล
2,3,2020-01-22,ไม่ปรากฎข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่ปรากฎข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล
4,5,2020-01-24,ไม่ปรากฎข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,2022-03-18,2022-03-17 00:00:00,หญิง,ไม่ปรากฎข้อมูล,NaN,ไม่ปรากฎข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฎข้อมูล
433549,3303166,2022-03-18,2022-03-17 00:00:00,หญิง,ไม่ปรากฎข้อมูล,NaN,ไม่ปรากฎข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฎข้อมูล
433550,3303167,2022-03-18,2022-03-17 00:00:00,หญิง,ไม่ปรากฎข้อมูล,NaN,ไม่ปรากฎข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฎข้อมูล
433551,3303168,2022-03-18,2022-03-17 00:00:00,หญิง,ไม่ปรากฎข้อมูล,NaN,ไม่ปรากฎข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฎข้อมูล
433552,3303169,2022-03-18,2022-03-17 00:00:00,หญิง,ไม่ปรากฎข้อมูล,NaN,ไม่ปรากฎข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฎข้อมูล

In [ ]:
data_region = [['อำนาจเจริญ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['บึงกาฬ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['บุรีรัมย์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['ชัยภูมิ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['กาฬสินธุ์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['ขอนแก่น','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['เลย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['มหาสารคาม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['มุกดาหาร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['นครพนม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['นครราชสีมา','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['หนองบัวลำภู','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['หนองคาย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['ร้อยเอ็ด','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['สกลนคร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['ศรีสะเกษ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['สุรินทร์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['อุบลราชธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['อุดรธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['ยโสธร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['เชียงใหม่','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['เชียงราย','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['ลำปาง','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['ลำพูน','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['แม่ฮ่องสอน','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['น่าน','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['พะเยา','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['แพร่','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['อุตรดิตถ์','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['ตาก','ตะวันตก','เหนือ','เหนือ','เหนือ'],
               ['สุโขทัย','กลาง','เหนือ','เหนือ','เหนือ'],
               ['พิษณุโลก','กลาง','เหนือ','เหนือ','เหนือ'],
               ['พิจิตร','กลาง','เหนือ','เหนือ','เหนือ'],
               ['กำแพงเพชร','กลาง','เหนือ','เหนือ','เหนือ'],
               ['เพชรบูรณ์','กลาง','เหนือ','เหนือ','เหนือ'],
               ['นครสวรรค์','กลาง','เหนือ','เหนือ','เหนือ'],
               ['อุทัยธานี','กลาง','เหนือ','กลาง','เหนือ'],
               ['อ่างทอง','กลาง','กลาง','กลาง','กลาง'],
               ['ชัยนาท','กลาง','กลาง','กลาง','กลาง'],
               ['พระนครศรีอยุธยา','กลาง','กลาง','กลาง','กลาง'],
               ['กรุงเทพมหานคร','กลาง','กลาง','กลาง','กลาง'],
               ['ลพบุรี','กลาง','กลาง','กลาง','กลาง'],
               ['นครปฐม','กลาง','กลาง','กลาง','กลาง'],
               ['นนทบุรี','กลาง','กลาง','กลาง','กลาง'],
               ['ปทุมธานี','กลาง','กลาง','กลาง','กลาง'],
               ['สมุทรปราการ','กลาง','กลาง','กลาง','กลาง'],
               ['สมุทรสาคร','กลาง','กลาง','กลาง','กลาง'],
               ['สมุทรสงคราม','กลาง','กลาง','กลาง','กลาง'],
               ['สระบุรี','กลาง','กลาง','กลาง','กลาง'],
               ['สิงห์บุรี','กลาง','กลาง','กลาง','กลาง'],
               ['สุพรรณบุรี','กลาง','กลาง','กลาง','กลาง'],
               ['นครนายก','กลาง','กลาง','ตะวันออก','กลาง'],
               ['ฉะเชิงเทรา','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['จันทบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['ชลบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['ปราจีนบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['ระยอง','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['สระแก้ว','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['ตราด','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['กาญจนบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
               ['ราชบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
               ['เพชรบุรี','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
               ['ประจวบคีรีขันธ์','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
               ['ชุมพร','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['นครศรีธรรมราช','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['นราธิวาส','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['ปัตตานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['พัทลุง','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['สงขลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['สุราษฎร์ธานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['ยะลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['กระบี่','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
               ['พังงา','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
               ['ภูเก็ต','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
               ['ระนอง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
               ['สตูล','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
               ['ตรัง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้']]                    
header = ['จังหวัด','ภูมิภาค (ภูมิศาสตร์)','ภูมิภาค (การเมือง)','ภูมิภาค (อุตุนิยมวิทยา)','ภูมิภาค (การท่องเที่ยว)']

In [ ]:
df_region = pd.DataFrame.from_records(data_region,columns=header) # สร้างตารางให้จังหวัดและภูมิภาคให้เป็น row
df_region

,จังหวัด,ภูมิภาค (ภูมิศาสตร์),ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [ ]:
dataall= data1234new.merge(df_region,how='left',left_on='province_of_onset',right_on='จังหวัด')

In [ ]:
dataall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,จังหวัด,ภูมิภาค (ภูมิศาสตร์),ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว)
0,1,2020-01-12,ไม่ปรากฎข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,2,2020-01-17,ไม่ปรากฎข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2,3,2020-01-22,ไม่ปรากฎข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,นครปฐม,กลาง,กลาง,กลาง,กลาง
3,4,2020-01-22,ไม่ปรากฎข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
4,5,2020-01-24,ไม่ปรากฎข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฎข้อมูล,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3377405,3377406,2022-03-21,2022-03-20 00:00:00,ชาย,ไม่ปรากฎข้อมูล,NaN,ไม่ปรากฎข้อมูล,พิษณุโลก,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฎข้อมูล,NaN,NaN,NaN,NaN,NaN
3377406,3377407,2022-03-21,2022-03-20 00:00:00,ชาย,ไม่ปรากฎข้อมูล,NaN,ไม่ปรากฎข้อมูล,ศรีสะเกษ,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฎข้อมูล,NaN,NaN,NaN,NaN,NaN
3377407,3377408,2022-03-21,2022-03-20 00:00:00,ชาย,ไม่ปรากฎข้อมูล,NaN,ไม่ปรากฎข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฎข้อมูล,NaN,NaN,NaN,NaN,NaN
3377408,3377409,2022-03-21,2022-03-20 00:00:00,ชาย,ไม่ปรากฎข้อมูล,NaN,ไม่ปรากฎข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฎข้อมูล,NaN,NaN,NaN,NaN,NaN
3377409,3377410,2022-03-21,2022-03-20 00:00:00,ชาย,ไม่ปรากฎข้อมูล,NaN,ไม่ปรากฎข้อมูล,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฎข้อมูล,NaN,NaN,NaN,NaN,NaN